In [1]:
import json
from bs4 import BeautifulSoup as bs
from tqdm.notebook import tqdm

post_data = json.load(open('ten_thousand_questions/questions_with_bodies.json'))

In [3]:
post_data.keys()

dict_keys(['items', 'has_more', 'quota_max', 'quota_remaining'])

In [4]:
accepted_answers = []
from tqdm.notebook import tqdm

post_data['items'][0]['is_answered']

True

In [5]:
for item in tqdm(post_data['items']):
    if 'accepted_answer_id' in item:
        accepted_answers.append(item)

  0%|          | 0/300 [00:00<?, ?it/s]

In [6]:
len(accepted_answers)

300

In [8]:
from stackapi import StackAPI

SITE = StackAPI('stackoverflow')
aids = [i['accepted_answer_id'] for i in accepted_answers]

In [11]:
answers = SITE.fetch('answers/{ids}', ids=aids[:100], filter='withbody')

{'backoff': 0, 'has_more': False, 'page': 1, 'quota_max': 300, 'quota_remaining': 295, 'total': 0, 'items': [{'owner': {'reputation': 12941, 'user_id': 14289892, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/mM8Ee.jpg?s=128&g=1', 'display_name': 'Anurag Dabas', 'link': 'https://stackoverflow.com/users/14289892/anurag-dabas'}, 'is_accepted': True, 'score': 3, 'last_activity_date': 1625407195, 'creation_date': 1625407195, 'answer_id': 68245456, 'question_id': 68245443, 'content_license': 'CC BY-SA 4.0', 'body': "<p>try:</p>\n<pre><code>df['counter']=df.index//3\n</code></pre>\n<p>OR</p>\n<p>If you have a custom index then you can use:</p>\n<pre><code>df['counter']=[x//3 for x in range(len(df))]\n</code></pre>\n<p>output of <code>df</code>:</p>\n<pre><code>    key     team    counter\n0   K0      a       0\n1   K1      d       0\n2   K2      w       0\n3   K3      a       1\n4   K4      c       1\n5   K5      s       1\n6   K6      x       2\n7   K7      d       2\n8   K8      a       2\n9   K9      f       3\n10  K10     e       3\n11  K11     r       3\n</code></pre>\n"}, {'owner': {'reputation': 4635, 'user_id': 2106934, 'user_type': 'registered', 'accept_rate': 89, 'profile_image': 'https://www.gravatar.com/avatar/7d29cd79756208cfd1a7c814c477ddd6?s=128&d=identicon&r=PG', 'display_name': 'Utsav', 'link': 'https://stackoverflow.com/users/2106934/utsav'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625395151, 'last_edit_date': 1625395151, 'creation_date': 1625389123, 'answer_id': 68243106, 'question_id': 68243003, 'content_license': 'CC BY-SA 4.0', 'body': "<p><strong>Input df</strong></p>\n<pre><code>    Name    date    address\n0   A   2021-07-03  X\n1   B   2021-07-03  Y\n2   C   2021-07-03  Z\n3   D   2021-08-01  M\n4   E   2021-08-01  N\n5   F   2021-08-01  O\n</code></pre>\n<p><strong>If date col is object/string type and we want to keep it as is</strong></p>\n<pre><code>search = '2021-07'\nmonth_dataframe = df[df[&quot;date&quot;].str.contains(str(search))]\nmonth_dataframe\n</code></pre>\n<p><strong>If date col is object/str type and we are okay with converting it to datetime</strong></p>\n<p>Benefit in this case is we don't need to define variable <code>search = '2021-07'</code> and this solution will work for every(current) month.</p>\n<pre><code>df['date'] = pd.to_datetime(df.date)\nmonth_dataframe =  df[df.date.dt.month == pd.Timestamp('today').month]\nmonth_dataframe\n</code></pre>\n<p><strong>If date col is datetime type</strong></p>\n<p>(Just an option, not the best way)</p>\n<pre><code>search = '2021-07'\nmonth_dataframe = df[df[&quot;date&quot;].astype(str).str.contains(str(search))]\nmonth_dataframe\n</code></pre>\n<p><strong>Output</strong></p>\n<pre><code>    Name    date    address\n0   A   2021-07-03  X\n1   B   2021-07-03  Y\n2   C   2021-07-03  Z\n</code></pre>\n"}, {'owner': {'reputation': 12124, 'user_id': 9332187, 'user_type': 'registered', 'profile_image': 'https://lh3.googleusercontent.com/-I_opr6uwXKQ/AAAAAAAAAAI/AAAAAAAAADw/ZJMBGmRMJCM/photo.jpg?sz=128', 'display_name': 'Mustafa AydÄ±n', 'link': 'https://stackoverflow.com/users/9332187/mustafa-ayd%c4%b1n'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625393691, 'creation_date': 1625393691, 'answer_id': 68243655, 'question_id': 68243538, 'content_license': 'CC BY-SA 4.0', 'body': '<p>You can use <code>loc</code> to get the locations where <code>id</code> column equals to <code>&quot;Na&quot;</code> and put your list in there:</p>\n<pre><code>df.loc[df.id.eq(&quot;Na&quot;), &quot;id&quot;] = correct_id\n</code></pre>\n<p>If you want them integers at the end, you can use <code>astype</code>:</p>\n<pre><code>df.id = df.id.astype(int)\n</code></pre>\n<p>to get</p>\n<pre><code>&gt;&gt;&gt; df\n\n           movieName    id  Year\n0            birdman  1987  2010\n1  avengers: endgame  4563  2020\n2           deadpool  3452  2012\n3      The bird King  1230  2018\n4            Bla bla  6547  2013\n5          Lion King  9384  2020\n</code></pre>\n'}, {'owner': {'reputation': 6318, 'user_id': 6660638, 'user_type': 'registered', 'profile_image': 'https://www.gravatar.com/avatar/04d9ccc9f5df2357d1edc8c265493eef?s=128&d=identicon&r=PG&f=1', 'display_name': 'Epsi95', 'link': 'https://stackoverflow.com/users/6660638/epsi95'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625393625, 'creation_date': 1625393625, 'answer_id': 68243644, 'question_id': 68243543, 'content_license': 'CC BY-SA 4.0', 'body': '<p>You can try <code>regex</code></p>\n<pre class="lang-py prettyprint-override"><code>import re\nimport pandas as pd\n\ns = &quot;Key=xxxx, age=11, key=yyyy , age=22,Key=zzzz, age=01, key=qqqq, age=21,Key=wwwww, age=91, key=pppp, age=22&quot;\n\ndf = pd.DataFrame(zip(re.findall(r\'Key=([^,\\s]+)\', s, re.IGNORECASE), re.findall(r\'age=([^,\\s]+)\', s, re.IGNORECASE)),\n                 columns=[\'key\', \'age\'])\n\ndf\n</code></pre>\n<pre><code>     key    age\n0   xxxx    11\n1   yyyy    22\n2   zzzz    01\n3   qqqq    21\n4   wwwww   91\n5   pppp    22\n</code></pre>\n'}, {'owner': {'reputation': 12941, 'user_id': 14289892, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/mM8Ee.jpg?s=128&g=1', 'display_name': 'Anurag Dabas', 'link': 'https://stackoverflow.com/users/14289892/anurag-dabas'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625389695, 'creation_date': 1625389695, 'answer_id': 68243166, 'question_id': 68243146, 'content_license': 'CC BY-SA 4.0', 'body': "<p>via <code>mask()</code>:</p>\n<pre><code>df['id']=df['id'].mask(df['id'].eq(0),df['ref'])\n</code></pre>\n<p>OR</p>\n<p>via numpy's <code>where()</code>:</p>\n<pre><code>#import numpy as np\ndf['id']=np.where(df['id'].eq(0),df['ref'],df['id'])\n</code></pre>\n"}, {'owner': {'reputation': 37498, 'user_id': 7212686, 'user_type': 'registered', 'accept_rate': 100, 'profile_image': 'https://i.stack.imgur.com/Ey8ll.png?s=128&g=1', 'display_name': 'azro', 'link': 'https://stackoverflow.com/users/7212686/azro'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625387071, 'creation_date': 1625387071, 'answer_id': 68242911, 'question_id': 68242870, 'content_license': 'CC BY-SA 4.0', 'body': "<p>As you do <code>count = </code>, you erase the previous value, you want to sum up the different counts</p>\n<pre><code>def func(stringans):\n    count = 0\n    for x in ai_tech:\n        count += stringans.count(x)\n    return count\n\n# with sum and generator \ndef func(stringans):\n    return sum(stringans.count(x) for x in ai_tech)\n</code></pre>\n<p>Fixing some typos in <code>ai_tech</code> and setting all to <code>.lower()</code> gives <code>2,1,0</code> in the counter col, the last row has no value in common</p>\n<pre><code>import pandas as pd\n\nai_tech = [&quot;natural language processing&quot;, &quot;nlp&quot;, &quot;A I &quot;, &quot;Artificial intelligence&quot;,\n           &quot;stemming&quot;, &quot;lemmatization&quot;, &quot;information extraction&quot;,\n           &quot;text mining&quot;, &quot;text analytics&quot;, &quot;data - mining&quot;]\n\ndf = pd.DataFrame([[&quot;1. More details  A I   Artificial Intelligence&quot;], [&quot;2. NLP works very well these days&quot;],\n                   [&quot;3. receiving information at the right time&quot;]], columns=[&quot;text&quot;])\n\ndef func(stringans):\n    return sum(stringans.lower().count(x.lower()) for x in ai_tech)\n\ndf['counter'] = df['text'].apply(func)\nprint(df)\n\n# ------------------\n                                             text  counter\n0  1. More details  A I   Artificial Intelligence        2\n1               2. NLP works very well these days        1\n2      3. receiving information at the right time        0\n</code></pre>\n"}, {'owner': {'reputation': 10379, 'user_id': 6633975, 'user_type': 'registered', 'profile_image': 'https://lh6.googleusercontent.com/-_Ta3cjF1uhk/AAAAAAAAAAI/AAAAAAAAAk8/V1id8gyx0PE/photo.jpg?sz=128', 'display_name': 'Sayali Sonawane', 'link': 'https://stackoverflow.com/users/6633975/sayali-sonawane'}, 'is_accepted': True, 'score': 15, 'last_activity_date': 1625380793, 'last_edit_date': 1625380793, 'creation_date': 1473325350, 'answer_id': 39386767, 'question_id': 39386458, 'content_license': 'CC BY-SA 4.0', 'body': '<p>As you are trying to process 85GB CSV file, if you will try to read all the data by breaking it into chunks and converting it into dataframe then it will hit memory limit for sure. You can try to solve this problem by using different approach. In this case, you can use filtering operations on your data. For example, if there are 600 columns in your dataset and you are interested only in 50 columns. Try to read only 50 columns from the file. This way you will save lot of memory. Process your rows as you read them. If you need to filter the data first, use a generator function. <code>yield</code> makes a function a generator function, which means it won\'t do any work until you start looping over it.</p>\n<p>For more information regarding generator function:\n<a href="https://stackoverflow.com/questions/17444679/reading-a-huge-csv-in-python">Reading a huge .csv file</a></p>\n<p>For efficient filtering refer: <a href="https://codereview.stackexchange.com/questions/88885/efficiently-filter-a-large-100gb-csv-file-v3">https://codereview.stackexchange.com/questions/88885/efficiently-filter-a-large-100gb-csv-file-v3</a></p>\n<p>For processing smaller dataset:</p>\n<p><strong>Approach 1: To convert reader object to dataframe directly:</strong></p>\n<pre><code>full_data = pd.concat(TextFileReader, ignore_index=True)\n</code></pre>\n<p>It is necessary to add parameter <a href="http://pandas.pydata.org/pandas-docs/stable/merging.html#ignoring-indexes-on-the-concatenation-axis" rel="nofollow noreferrer">ignore index</a> to function concat, because avoiding duplicity of indexes.</p>\n<p><strong>Approach 2:</strong> <strong>Use Iterator or get_chunk to convert it into dataframe.</strong></p>\n<p>By specifying a chunksize to read_csv,return value will be an iterable object of type TextFileReader.</p>\n<pre><code>df=TextFileReader.get_chunk(3)\n\nfor chunk in TextFileReader:\n    print(chunk)\n</code></pre>\n<p>Source : <a href="http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking" rel="nofollow noreferrer">http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking</a></p>\n<p><code>df= pd.DataFrame(TextFileReader.get_chunk(1))</code></p>\n<p>This will convert one chunk to dataframe.</p>\n<p><strong>Checking total number of chunks in TextFileReader</strong></p>\n<pre class="lang-py prettyprint-override"><code>for chunk_number, chunk in enumerate(TextFileReader):\n    # some code here, if needed\n    pass\n\nprint(&quot;Total number of chunks is&quot;, chunk_number+1)\n</code></pre>\n<p>If file size is bigger,I won\'t recommend second approach. For example, if csv file consist of 100000 records then chunksize=5 will create 20,000 chunks.</p>\n'}, {'owner': {'reputation': 40864, 'user_id': 12833166, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/p1a2a.jpg?s=128&g=1', 'display_name': 'Shubham Sharma', 'link': 'https://stackoverflow.com/users/12833166/shubham-sharma'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625379551, 'creation_date': 1625379551, 'answer_id': 68242225, 'question_id': 68240448, 'content_license': 'CC BY-SA 4.0', 'body': "<h3>Simple pandas solution</h3>\n<pre><code>s = df.stack()\ns[s.str.contains(r'\\d?,\\d+', na=False)] = np.hstack(values)\nout = s.unstack().reindex(df.columns, axis=1)\n</code></pre>\n<h3>Explanation</h3>\n<ul>\n<li><code>stack</code> the dataframe to reshape. Note: Stacking operation also drops the <code>NaN</code> values by default.</li>\n</ul>\n<pre><code>&gt;&gt;&gt; df.stack()\n\n0  Unnamed: 1    Ore\n   2Gi           ,30\n   3Ve           ,46\n   4Sa           ,50\n   ...\n   9Me           ,07\n   0Gi           ,11\n   1Ve           ,59\n1  Unnamed: 1    Ore\n   6Lu           ,53\ndtype: object\n</code></pre>\n<ul>\n<li>Match the regular expression pattern (<code>\\d?,\\d+</code>) against the stacked frame using <code>str.contains</code>, this essentially creates a boolean mask</li>\n</ul>\n<pre><code>&gt;&gt;&gt; s.str.contains(r'\\d?,\\d+', na=False)\n\n0  Unnamed: 1    False\n   2Gi            True\n   3Ve            True\n   4Sa            True\n   ...\n   9Me            True\n   0Gi            True\n   1Ve            True\n1  Unnamed: 1    False\n   6Lu            True\ndtype: bool\n</code></pre>\n<ul>\n<li>Using <code>hstack</code> flatten the <code>values</code> then assign these values to the matched strings in the stacked frame</li>\n</ul>\n<pre><code>&gt;&gt;&gt; s[s.str.contains(r'\\d?,\\d+', na=False)] = np.hstack(values)\n&gt;&gt;&gt; s\n\n0  Unnamed: 1     Ore\n   2Gi           6,30\n   3Ve           5,46\n   4Sa           4,50\n   ...\n   9Me           5,07\n   0Gi           6,11\n   1Ve           2,59\n1  Unnamed: 1     Ore\n   6Lu           2,53\ndtype: object\n</code></pre>\n<ul>\n<li>Now <code>unstack</code> to reshape back into a dataframe and <code>reindex</code> the columns</li>\n</ul>\n<pre><code>&gt;&gt;&gt; s.unstack().reindex(df.columns, axis=1)\n\n   Unnamed: 0 Unnamed: 1  1Me   2Gi   3Ve   4Sa  5Do   6Lu   7Ma   8Me   9Gi   0Ve   1Sa   2Do  3Lu   4Ma   5Me   6Gi   7Ve   8Sa  9Do   0Lu   1Ma   2Me   3Gi   4Ve   5Sa  6Do   7Lu   8Ma   9Me   0Gi   1Ve  Unnamed: 2\n0         NaN        Ore  NaN  6,30  5,46  4,50  NaN   NaN  5,20  7,48  5,41  2,07  3,52  3,11  NaN  4,53  4,51  5,14  4,28  3,33  NaN  5,32  3,10  5,03  4,44  4,39  5,04  NaN  5,26  7,15  5,07  6,11  2,59         NaN\n1         NaN        Ore  NaN   NaN   NaN   NaN  NaN  2,53   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN         NaN\n</code></pre>\n"}, {'owner': {'reputation': 12941, 'user_id': 14289892, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/mM8Ee.jpg?s=128&g=1', 'display_name': 'Anurag Dabas', 'link': 'https://stackoverflow.com/users/14289892/anurag-dabas'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625376700, 'last_edit_date': 1625376700, 'creation_date': 1625376087, 'answer_id': 68241939, 'question_id': 68241764, 'content_license': 'CC BY-SA 4.0', 'body': "<p>try via <code>map()</code> and <code>groupby()</code>:</p>\n<pre><code>df2['Word Count']=df2['Character'].map(df1.groupby('Character')['Word Count'].sum())\n#you can also use replace() method in place of map()\n</code></pre>\n<p>output of <code>df2</code>:</p>\n<pre><code>    Character       Line Count  Word Count\n0   Leslie Knope    81          71\n1   Child           1           72\n</code></pre>\n"}, {'owner': {'reputation': 571, 'user_id': 16317892, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/Y41Fa.png?s=128&g=1', 'display_name': 'Hammurabi', 'link': 'https://stackoverflow.com/users/16317892/hammurabi'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625358586, 'creation_date': 1625358586, 'answer_id': 68240855, 'question_id': 68240743, 'content_license': 'CC BY-SA 4.0', 'body': "<p>Your dataframe has the dates as an index, so reset index to pull them out into a column.  If the index was previously named something other than 'index', use that name instead of 'index' if you choose to rename it.</p>\n<pre><code>df = pd.DataFrame([[2], [4]], columns=['order'])\n\ndf = df.reset_index()\ndf = df.rename(columns={'index':'date'})\nprint(df)\n#    date  order\n# 0     0      2\n# 1     1      4\n\n</code></pre>\n"}, {'owner': {'reputation': 174150, 'user_id': 4983450, 'user_type': 'registered', 'accept_rate': 74, 'profile_image': 'https://i.stack.imgur.com/NR2ko.jpg?s=128&g=1', 'display_name': 'Psidom', 'link': 'https://stackoverflow.com/users/4983450/psidom'}, 'is_accepted': True, 'score': 3, 'last_activity_date': 1625355542, 'creation_date': 1625355542, 'answer_id': 68240672, 'question_id': 68240645, 'content_license': 'CC BY-SA 4.0', 'body': '<p>Use <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.wide_to_long.html" rel="nofollow noreferrer"><code>wide_to_long</code></a>:</p>\n<pre><code>pd.wide_to_long(\n  df, \n  [\'Quan1\', \'Quan2\'], \n  i=[\'Year\', \'code\', \'Country\'], \n  j=\'month\', \n  suffix=\'\\w+\'\n).reset_index()\n\n#   Year  code Country month  Quan1  Quan2\n#0  2020  8123   Japan   jan    500     26\n#1  2020  8123   Japan   feb    400     28\n#2  2020  8123  Taiwan   jan    450    245\n#3  2020  8123  Taiwan   feb   4500     87\n</code></pre>\n'}, {'owner': {'reputation': 26, 'user_id': 4601680, 'user_type': 'registered', 'profile_image': 'https://www.gravatar.com/avatar/771780b47cde3d98b163116fd825d2c1?s=128&d=identicon&r=PG&f=1', 'display_name': 'Vishwa', 'link': 'https://stackoverflow.com/users/4601680/vishwa'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625330400, 'creation_date': 1625330400, 'answer_id': 68238169, 'question_id': 68230652, 'content_license': 'CC BY-SA 4.0', 'body': "<p>Use group by and then filter on those countries something like below:</p>\n<pre><code>t=df.groupby(['location-name']).count().reset_index()\ndf_filtr=df[df['location-name'].isin(t[t['location-id']&gt;1]['location-name'])]\n\n</code></pre>\n<p>You can sort by countries to find the correct entry</p>\n"}, {'owner': {'reputation': 40864, 'user_id': 12833166, 'user_type': 'registered', 'profile_image': 'https://i.stack.imgur.com/p1a2a.jpg?s=128&g=1', 'display_name': 'Shubham Sharma', 'link': 'https://stackoverflow.com/users/12833166/shubham-sharma'}, 'is_accepted': True, 'score': 2, 'last_activity_date': 1625323360, 'creation_date': 1625323360, 'answer_id': 68237244, 'question_id': 68237180, 'content_license': 'CC BY-SA 4.0', 'body': "<p>We can use <code>value_counts</code> after flattening the columns <code>tokens</code> and <code>labels</code> using <code>hstack</code></p>\n<pre><code>t = np.hstack(df['tokens'])\nl = np.hstack(df['labels'])\n</code></pre>\n<p>Count of each label</p>\n<pre><code>pd.value_counts(l)\n\nB    3\nA    3\nD    1\nC    1\ndtype: int64\n</code></pre>\n<p>Count tokens under each label</p>\n<pre><code>pd.DataFrame(zip(l, t)).value_counts()\n\n0  1   \nA  Hi      2\n   fine    1\nB  am      1\n   how     1\n   say     1\nC  I       1\nD  Ila     1\ndtype: int64\n</code></pre>\n"}, {'owner': {'reputation': 9015, 'user_id': 8228558, 'user_type': 'registered', 'profile_image': 'https://www.gravatar.com/avatar/fd59fcdaa6fef158fce4b6d372998521?s=128&d=identicon&r=PG&f=1', 'display_name': 'IoaTzimas', 'link': 'https://stackoverflow.com/users/8228558/ioatzimas'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625323218, 'creation_date': 1625323218, 'answer_id': 68237224, 'question_id': 68237066, 'content_license': 'CC BY-SA 4.0', 'body': "<p>You can merge the datasets:</p>\n<pre><code>df = Dataset_1.merge(Dataset_2, left_on='company_id', right_on='org_number', how='left')\n\ndf['lower_year']=np.where(df.yr&lt;=df.year, 1, 0)\n\ndf = df[(df.lower_year==1) | (pd.isna(df.year))]\n\ndf.reset_index(drop=True, inplace=True)\n\ndf.drop(['org_number', 'year'], axis=1)\n\nprint(df)\n</code></pre>\n<p>Output:</p>\n<pre><code>  company_id    yr  lower_year\n0        111  2012           1\n1        111  2014           1\n2        223  2020           0\n3        444  1843           1\n</code></pre>\n<p>Let me know if you need explanation about the code</p>\n"}, {'owner': {'reputation': 37498, 'user_id': 7212686, 'user_type': 'registered', 'accept_rate': 100, 'profile_image': 'https://i.stack.imgur.com/Ey8ll.png?s=128&g=1', 'display_name': 'azro', 'link': 'https://stackoverflow.com/users/7212686/azro'}, 'is_accepted': True, 'score': 1, 'last_activity_date': 1625320222, 'creation_date': 1625320222, 'answer_id': 68236863, 'question_id': 68236800, 'content_license': 'CC BY-SA 4.0', 'body': '<p>To <a href="https://stackoverflow.com/quest

In [12]:
final_answers = answers['items']

In [13]:
final_answers.extend(SITE.fetch('answers/{ids}', ids=aids[100:200], filter='withbody')['items'])
print(len(final_answers))

200

In [14]:
final_answers.extend(SITE.fetch('answers/{ids}', ids=aids[200:300], filter='withbody')['items'])
print(len(final_answers))

300

In [16]:
id_to_answer = {
    answer['answer_id']: answer for answer in final_answers
}

In [17]:
for idx in range(len(accepted_answers)):
    accepted_answers[idx]['answer_body'] = id_to_answer[accepted_answers[idx]['accepted_answer_id']]['body']

In [18]:
qids = [i['question_id'] for i in accepted_answers]

In [22]:
question_items = SITE.fetch('questions/{ids}', ids=qids[:100], filter='withbody')['items']
question_items.extend(SITE.fetch('questions/{ids}', ids=qids[100:200], filter='withbody')['items'])
question_items.extend(SITE.fetch('questions/{ids}', ids=qids[200:300], filter='withbody')['items'])
print(len(question_items))

300

In [24]:
id_to_body = {
    q['question_id']: q['body'] for q in question_items
}

In [25]:
for idx in range(len(accepted_answers)):
    accepted_answers[idx]['question_body'] = id_to_body[accepted_answers[idx]['question_id']]

### For Mining Pandas APIs

In [27]:
import requests

urls = json.load(open("pandas_apis.json"))
data_frame_url = urls["df"]

def get_api_list(_url):
    page = requests.get(_url)
    soup = bs(page.content, 'html.parser')
    codes = soup.find_all("code", {"class": "xref py py-obj docutils literal notranslate"})
    apis = []
    for code in codes:
        api_name = code.find("span").text
        if "." in api_name:
            name = api_name[api_name.index(".") + 1:]
            apis.append(name)
            pass
        else:
            apis.append(api_name)
        pass
    return apis

data_frame_apis = get_api_list(data_frame_url)
# print(data_frame_apis)

list_of_apis = []
complete_api_sets = []

for key in urls:
    api_from_url = get_api_list(urls[key])
    list_of_apis.append({
        "url_key": key,
        "url": urls[key],
        "apis": api_from_url
    })
    complete_api_sets.extend(api_from_url)
    pass

# print("Dataframe APIs only")
# print(data_frame_apis)
# print("=" * 100)
# print("Pandas APIS")
complete_api_sets = list(set(complete_api_sets))
# print(complete_api_sets)
# print("=" * 100)

In [29]:
# print(data_frame_apis)

def dataframe_api_exists(line):
    for api in data_frame_apis:
        if api in line:
            return True
        pass
    return  False

def api_exists(line):
    for api in complete_api_sets:
        if api in line:
            return True
        pass
    return False


lines = ["hello()", "concat(dsaf)", "index()", "dasfasd"]
for l in lines:
    print(l, dataframe_api_exists(l))

hello() False
concat(dsaf) True
index() True
dasfasd False

In [57]:
import re 
import keyword

keywords = keyword.kwlist

def keyword_exists(line):
    for kw in keywords:
        if (kw + " ") in line or (" " + kw) in line:
            return True
    return False


def min_word_filter(texts, min_word=5):
    filtered_texts = []
    for t in texts:
        if len(t.split()) >= min_word:
            filtered_texts.append(t)
            pass
        pass
    return filtered_texts

def extract_code(text, filters):
    soup = bs(text)
    all_code = [code.text for code in soup.find_all('code')]
    for f in filters:
        all_code = f(all_code)
    return all_code
    pass

def data_frame_exists(code):
    lines = [l.strip() for l in code.split("\n")]
    data_frame_re = "[0-9]+[, \t]+[.]*"
    matches = []
    for l in lines:
        if len(re.findall(data_frame_re, l)) > 0 \
            and not keyword_exists(l) \
            and not dataframe_api_exists(l) \
            and not api_exists(l):
            matches.append(True)
        else:
            matches.append(False)
    return any(matches)

def code_exists(code):
    lines = [l.strip() for l in code.split("\n")]
    matches = []
    for l in lines:
        if dataframe_api_exists(l) or keyword_exists(l) or api_exists(l):
            return True
    return False

def print_formatted_code(code):
    lines = code.split('\n')
    lines = ['\t\t' + l for l in  lines]
    print('\n'.join(lines))
    
def extract_description(html):
    soup = bs(html)
    [code.extract() for code in soup.find_all('code')]
    text = re.sub("[ \n\t]+", " ", soup.text)
    return text
    pass
    
taken_answers = []

for a in accepted_answers:
    title = a['title']
    code_from_body = extract_code(a['question_body'], filters=[min_word_filter])
    code_from_answer = extract_code(a['answer_body'], filters=[min_word_filter])
    data_frames = []
    for cid, c in enumerate(code_from_body):
        is_df = data_frame_exists(c)
        is_code = code_exists(c)
        if is_df and not is_code:
            data_frames.append(c)
        
    taken_code = []
    for cid, c in enumerate(code_from_answer):
        is_df = data_frame_exists(c)
        is_pandas_code = api_exists(c)
        if is_pandas_code and not is_df:
            taken_code.append(c)
    if len(data_frames) == 2 and len(taken_code) > 0:
        a["formatted_input"] = {
            "qid": a['question_id'],
            'link': a['link'],
            "question": {
                "title": a["title"],
                "ques_desc" : extract_description(a['question_body'])
            },
            "io": data_frames,
            "answer" : {
                "ans_desc" : extract_description(a['answer_body']),
                "code": taken_code
            }
        }
        taken_answers.append(a)

print(len(taken_answers))

12

In [60]:
import json 

for a in taken_answers:
    fmt_input = a["formatted_input"]
    print("\"qid\": %s" % fmt_input["qid"])
    print("\"link\": %s" % fmt_input["link"])
    print("\"question\": {")
    print("\t\"title\": %s" % fmt_input["question"]["title"])
    print("\t\"desc\": %s" % fmt_input["question"]["ques_desc"])
    print("}")
    print("\"io\": {")
    print("\t\"Frame-1\": ")
    print_formatted_code(fmt_input["io"][0])
    print("\t\"Frame-2\":")
    print_formatted_code(fmt_input["io"][1])
    print("}")
    print("\"answer\": {")
    print("\t\"desc\": %s", fmt_input["answer"]["ans_desc"])
    print("\t\"code-snippets\": [")
    for t in fmt_input["answer"]["code"]:
        print_formatted_code(t)
        print("\t\t" + ("-" * 70))
    print("\t]")
    print("}")
    print("=" * 100)
    print("\n")

"qid": 68243146
"link": https://stackoverflow.com/questions/68243146/replace-zero-with-value-of-an-other-column-using-pandas
"question": {
	"title": replace zero with value of an other column using pandas
	"desc": I have a dataframe df1: I want to replace 0 in the id column with value from ref column of the same row So it will become:
}
"io": {
	"Frame-1":
		    ref   Name   id  Score
		  8400   John    0     12
		  3840  Peter  414      0
		  7400  David  612     64
		  5200  Karen    0      0

	"Frame-2":
		   ref    Name   id   Score
		  8400   John  8400     12
		  3840  Peter  414      0
		  7400  David  612     64
		  5200  Karen 5200      0

}
"answer": {
	"desc": %s via : OR via numpy's :
	"code-snippets": [
		#import numpy as np
		df['id']=np.where(df['id'].eq(0),df['ref'],df['id'])

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68231389
"link": https://stackoverflow.com/questions/68231389/compare-two-columns-that-contains-timestamps-in-pandas
"question": {
	"title": Compare two columns that contains timestamps in pandas
	"desc": Lets say I have a dataframe like this one: I want to compare if the timestamp in Col1 is greater than in Col2 and if that is true I want to remove the timestamps from the other columns (Col2, Col3, Col4). I also want to check if timestamp in Col2 is greater than in Col3 and if that is true I want to remove timestamp from other columns Col3, Col4). I tried this one: But it is showing me this error: My desirable output would look like this: EDITED: Added Col0
}
"io": {
	"Frame-1":
		  Col0       Col1                    Col2                   Col3                   Col4
		   1.txt  2021-06-23 15:04:30   2021-06-23 14:10:30   2021-06-23 14:15:30   2021-06-23 14:20:30
		   2.txt  2021-06-23 14:25:30   2021-06-23 15:30:30   2021-06-23 14:35:30   2021-06-23 14:40:30

	"Frame-2":
		  Col0       Col1                    Col2               Col3                   Col4
		   1.txt  2021-06-23 15:04:30        NaN                 NaN                    NaN
		   2.txt  2021-06-23 14:25:30   2021-06-23 15:30:30      NaN                    NaN

}
"answer": {
	"desc": %s A straightforward way with boolean mask:
	"code-snippets": [
		dt = df.select_dtypes('datetime')
		dt = dt.mask(dt.lt(dt.shift(axis=1)).cumsum(axis=1).astype(bool))

		df.loc[:, dt.columns.tolist()] = dt

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68231104
"link": https://stackoverflow.com/questions/68231104/extract-part-of-a-3-d-dataframe
"question": {
	"title": Extract part of a 3 D dataframe
	"desc": I have a 3d dataframe. looks like this: How could I extract only column A & B from every d1,d2.....? I desire to take the dataframe like this:
}
"io": {
	"Frame-1":
		     d1        d2            d3
		   A B C D...   A B C D...   A B C D..
		0
		1
		2

	"Frame-2":
		    d1    d2    d3
		  A  B   A  B   A  B
		0
		1
		2

}
"answer": {
	"desc": %s Use on the level 1 values of columns then select with : : Sample Data Used:
	"code-snippets": [
		filtered_df = df.loc[:, df.columns.isin(['A', 'B'], level=1)]

		----------------------------------------------------------------------
		import numpy as np
		import pandas as pd

		df = pd.DataFrame(
		    np.arange(1, 25).reshape((-1, 8)),
		    columns=pd.MultiIndex.from_product((['d1', 'd2'], list('ABCD')))
		)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68229806
"link": https://stackoverflow.com/questions/68229806/insert-values-from-variable-and-dataframe-into-another-dataframe
"question": {
	"title": Insert values from variable and DataFrame into another DataFrame
	"desc": On start I have two DataFrames and one variable: I have to map id variable and the corresponding col0 cell from df1 DataFrame to all rows in df2 DataFrame. I tryed and as the result I made the code below: It seems to me that the code should work correctly, but unfortunatelly I have a NaN value in the col0 column. The expected result was: I've spent over an hour and can't figure out why I'm getting this kind of result. If possible, could you, please: explain briefly why I am getting the error fix my mistake in the code
}
"io": {
	"Frame-1":
		   id  col0  col1  col2
		0   1   3.0    13    23
		1   1   NaN    14    24
		2   1   NaN    15    25

	"Frame-2":
		   id  col0  col1  col2
		0   1   3.0    13    23
		1   1   3.0    14    24
		2   1   3.0    15    25

}
"answer": {
	"desc": %s Your mistake is on this string when you use this, it returns a Series type. Yes it just have a value, but is still a Series with just one value. To solve this issue is very very very simple, you just have to call the first item at the Series object like this: Your code with the ajustment must look like this Then your new df2 is like this:
	"code-snippets": [
		import pandas as pd

		id=1
		df1 = pd.DataFrame({'id': [1, 2], 'col0': [3, 4]})
		df2 = pd.DataFrame({'col1': [13, 14, 15],'col2': [23, 24, 25]})

		df2.insert(0, "id", id)
		df2.insert(1, "col0", df1[df1['id']==id]['col0'][0])

		print(df2)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68213612
"link": https://stackoverflow.com/questions/68213612/how-to-combine-rows-in-a-dataframe-in-a-pairwise-fashion-while-applying-some-fun
"question": {
	"title": How to combine rows in a dataframe in a pairwise fashion while applying some function
	"desc": I have a dataframe that stores keys as ID, and some numerical values in Val1/Val2: I would like to go over this dataframe and combine the rows pairwise while getting the averages of Val1/Val2 for rows with the same ID. A suffix should be appended to the new row's ID based on which number pair it is. Here is the resulting dataframe: In this example, there are only 3 rows left. (id0, 10, 20) gets averaged with (id0,11,19) and combined into one row. (id1,5,5) gets averaged with (id1,1,1,) and (id1,1,1) gets averaged with (id1,2,4) to form 2 remaining rows. I can think of an iterative approach to this, but that would be very slow. How could I do this in a proper pythonic/pandas way? Code:
}
"io": {
	"Frame-1":
		ID    Val1    Val2
		id0     10      20
		id0     11      19
		id1      5       5
		id1      1       1
		id1      2       4

	"Frame-2":
		ID      Val1    Val2
		id0_1   10.5    19.5
		id1_1   3       3
		id1_2   1.5     2.5

}
"answer": {
	"desc": %s You can use after grouping by :
	"code-snippets": [
		out = df.groupby('ID').rolling(2).mean() \
		        .dropna(how='all').reset_index(level=1, drop=True)

		out.index += '_' + out.groupby(level=0).cumcount().add(1).astype(str)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68211888
"link": https://stackoverflow.com/questions/68211888/loop-through-multiple-small-pandas-dataframes-and-create-summary-dataframes-base
"question": {
	"title": Loop through multiple small Pandas dataframes and create summary dataframes based on a single column
	"desc": I have a bunch of small dataframes each representing a single match in a game. I would like to take these dataframes and consolidate them into a single dataframe for each player without knowing the player's names ahead of time. The starting dataframes look like this: And I would like to get to a series of frames looking like this My problem is that the solutions that I've found so far all require me to know the player names ahead of time and manually set up a dataframe for each player. Since I'll be working with 40-50 players and I won't know all their names until I have the raw data I'd like to avoid that if at all possible. I have a loose plan to create a dictionary of players with each player key containing a dict of their rows from the dataframes. Once all the match dataframes are processed I would convert the dict of dicts into individual player dataframes. I'm not sure if this is the best approach though and am hoping that there's a more efficient way to do this.
}
"io": {
	"Frame-1":
		NAME     VAL1  VAL2  VAL3
		player1  3     5     7
		player2  2     6     8
		player3  3     6     7

		NAME     VAL1  VAL2  VAL3
		player2  5     7     7
		player3  2     6     8
		player5  3     6     7

	"Frame-2":
		NAME     VAL1  VAL2  VAL3
		player1  3     5     7

		NAME     VAL1  VAL2  VAL3
		player2  2     6     8
		player2  5     7     7

		NAME     VAL1  VAL2  VAL3
		player3  3     6     7
		player3  2     6     8

		NAME     VAL1  VAL2  VAL3
		player5  3     6     7

}
"answer": {
	"desc": %s Let's try + then build out a : : Each player's DataFrame can then be accessed like: : Or as a : : Each player's DataFrame can then be accessed like: :
	"code-snippets": [
		dfs = {group_name: df_
		       for group_name, df_ in pd.concat([df1, df2]).groupby('NAME')}

		----------------------------------------------------------------------
		dfs = [df_ for _, df_ in pd.concat([df1, df2]).groupby('NAME')]

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68193558
"link": https://stackoverflow.com/questions/68193558/pandas-group-many-columns-to-one-column-where-every-cell-is-a-list-of-values
"question": {
	"title": pandas group many columns to one column where every cell is a list of values
	"desc": I have the dataframe And I want to group all columns to a single list that will be the only columns, so I will get: (Shape of df was change from (3,5) to (3,1)) What is the best way to do this?
}
"io": {
	"Frame-1":
		df =
		c1 c2 c3 c4 c5
		1.  2. 3. 1. 5
		8.  2. 1. 3. 8
		4.  9. 1  2. 3

	"Frame-2":
		df =
		    l
		[1,2,3,1,5]
		[8,2,1,3,8]
		[4,9,1,2,3]

}
"answer": {
	"desc": %s Try:
	"code-snippets": [
		#best way:
		df['l']=df.values.tolist()
		#OR
		df['l']=df.to_numpy().tolist()


		#another way:
		df['l']=df.agg(list,1)
		#OR
		df['l']=df.apply(list,1)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68193521
"link": https://stackoverflow.com/questions/68193521/concatenate-values-and-column-names-in-a-data-frame-to-create-a-new-data-frame
"question": {
	"title": Concatenate values and column names in a data frame to create a new data frame
	"desc": I have the following data frame(): I need to derive the data frame() from such that column 1 of will have concatenated raw values of Value column with column names of Col 1 to Col 3. Column 2 of will have the raw value corresponding to each concatenated column name, Below is the sample which require to generate. : I have followed the below steps to derive df2 from df1. But this process seems a bit long. Any recommendations on shortening the process? Below is the code I have used
}
"io": {
	"Frame-1":
		  Value col1 col2 col3
		0     a   aa   ab   ac
		1     b   ba   bb   bc
		2     c   ca   cb   cc
		3     d   da   db   dc
		4     e   ea   eb   ec

	"Frame-2":
		      Value Col 1
		0   a_Col 1    aa
		1   a_Col 2    ab
		2   a_Col 3    ac
		3   b_Col 1    ba
		4   b_Col 2    bb
		5   b_Col 3    bc
		6   c_Col 1    ca
		7   c_Col 2    cb
		8   c_Col 3    cc
		9   d_Col 1    da
		10  d_Col 2    db
		11  d_Col 3    dc
		12  e_Col 1    ea
		13  e_Col 2    eb
		14  e_Col 3    ec

}
"answer": {
	"desc": %s Try: Prints: Optionally, you can sort values afterwards:
	"code-snippets": [
		x = df.melt("Value", value_name="Col 1")
		x.Value += "_" + x.variable
		x = x.drop(columns="variable")
		print(x)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68174614
"link": https://stackoverflow.com/questions/68174614/why-does-it-add-0-to-the-value-while-converting-dataframe-columns-to-json
"question": {
	"title": Why does it add .0 to the value while converting Dataframe columns to JSON
	"desc": I have the following DataFrame: df : to convert to JSON , I write following snippet: I get following output: total Why is that extra .0 is added to the result ? How do I remove that extra .0 ?
}
"io": {
	"Frame-1":
		A   B   C   D
		2   6   5   8.0
		6   11  2   3.6
		1   5   7   5.2

	"Frame-2":
		{"A":2.0, "B":6.0, "C":5.0, "D":8.0}
		{"A":6.0, "B":11.0, "C":2.0, "D":3.6}
		{"A":1.0, "B":5.0, "C":7.0, "D":5.2}

}
"answer": {
	"desc": %s The problem here is, when you call apply on , pandas creates a Series out of it and upcasts the values because it is a single Series. For example consider following Series: As you can see, the entire series is converted to float because integer type can not hold all the values for the above series, similar is the case when you call apply on axis=1, it is same to : There's already an issue DataFrame.apply unintuitively changes int to float because of another column on github for this upcasting behavior of pandas . So, one possible option for you is as I have mentioned in the comment, to call on the entire dataframe as: A working solution for you may be using python's module alongwith , but remember, it does the same thing twice so it may be a bit slow for a large dataframes, however, you will get the data in the rquired format: OUTPUT:
	"code-snippets": [
		df.iloc[0]
		A    2.0
		B    6.0
		C    5.0
		D    8.0
		Name: 0, dtype: float64

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68174113
"link": https://stackoverflow.com/questions/68174113/map-numeric-data-into-bins-in-pandas-dataframe-for-seperate-groups-using-diction
"question": {
	"title": Map numeric data into bins in Pandas dataframe for seperate groups using dictionaries
	"desc": I have a pandas dataframe as follows: I need to reclassify the 'value' column separately for each 'polyid'. For the reclassification, I have two dictionaries. One with the bins that contain the information on how I want to cut the 'values' for each 'polyid' separately: And one with the ids with which I want to label the resulting bins: I tried to get this answer to work for my use case. I could only come up with applying on each 'polyid' subset and then all subsets again back to one dataframe: This results in my desired output: However, the line: raises the warning: A value is trying to be set on a copy of a slice from a DataFrame. Try using .loc[row_indexer,col_indexer] = value instead that I am unable to solve with using . Also, I guess there generally is a more efficient way of doing this without having to loop over each category?
}
"io": {
	"Frame-1":
		bins_dic = {1:[0,0.6,0.8,1], 2:[0,0.2,0.9,1], 3:[0,0.5,0.6,1]}

	"Frame-2":
		ids_dic = {1:[1,2,3], 2:[1,2,3], 3:[1,2,3]}

}
"answer": {
	"desc": %s A simpler solution would be to use and a custom function on each group. In this case, we can define a function that obtains the correct bins and ids and then uses : Result:
	"code-snippets": [
		def reclass(group, name):
		    bins = bins_dic[name]
		    ids = ids_dic[name]
		    return pd.cut(group, bins, labels=ids)

		df['id'] = df.groupby('polyid')['value'].apply(lambda x: reclass(x, x.name))

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 68150020
"link": https://stackoverflow.com/questions/68150020/getting-first-second-third-value-in-row-of-numpy-array-after-nan-using-vector
"question": {
	"title": Getting first/second/third... value in row of numpy array after nan using vectorization
	"desc": I have the following : I have partly acomplished what I am trying to do here using Pandas alone but the process takes ages so I am having to use (see Getting the nearest values to the left in a pandas column) and that is where I am struggling. Essentialy, I want my function which takes an argument , to capture the first non value for each row from the left, and return the whole thing as a array/vector so that: As I have described in the other post, its best to imagine a horizontal line being drawn from the left for each row, and returning the values intersected by that line as an array. then returns the first value (in that array) and will return the second value intersected and so on. Therefore: The solution proposed in the post above is very effective: However this is very slow with larger iterations. I have tried this with and its even slower! Is there a fatser way with vectorization? Many thanks.
}
"io": {
	"Frame-1":
		f(offset=0)


		| 0  | 1  |
		| -- | -- |
		| 1  | 25 |
		| 2  | 29 |
		| 3  | 33 |
		| 4  | 31 |
		| 5  | 30 |
		| 6  | 35 |
		| 7  | 31 |
		| 8  | 33 |
		| 9  | 26 |
		| 10 | 27 |
		| 11 | 35 |
		| 12 | 33 |
		| 13 | 28 |
		| 14 | 25 |
		| 15 | 25 |
		| 16 | 26 |
		| 17 | 34 |
		| 18 | 28 |
		| 19 | 34 |
		| 20 | 28 |

	"Frame-2":
		f(offset=1)

		| 0  | 1   |
		| -- | --- |
		| 1  | nan |
		| 2  | nan |
		| 3  | nan |
		| 4  | 35  |
		| 5  | 34  |
		| 6  | 34  |
		| 7  | 26  |
		| 8  | 25  |
		| 9  | 31  |
		| 10 | 26  |
		| 11 | 25  |
		| 12 | 35  |
		| 13 | 25  |
		| 14 | 25  |
		| 15 | 26  |
		| 16 | 31  |
		| 17 | 29  |
		| 18 | 29  |
		| 19 | 26  |
		| 20 | 30  |

}
"answer": {
	"desc": %s Numpy approach We can define a function which takes a array and (n) as input arguments and returns array. Basically, for each row it returns the value after the first value Pandas approach We can the dataframe to reshape then group the dataframe on and aggregate using , then to conform the index of aggregated frame according to original frame Sample run Performance Numpy based approach is approximately faster than the given approach while pandas based approach is approximately faster
	"code-snippets": [
		def first_valid(arr, offset=0):
		    m = ~np.isnan(arr)
		    i =  m.argmax(axis=1) + offset
		    iy = np.clip(i, 0, arr.shape[1] - 1)

		    vals = arr[np.r_[:arr.shape[0]], iy]
		    vals[(~m.any(1)) | (i >= arr.shape[1])] = np.nan
		    return vals

		----------------------------------------------------------------------
		def first_valid(df, offset=0):
		    return df.stack().groupby(level=0)\
		                     .nth(offset).reindex(df.index)

		----------------------------------------------------------------------
		# Sample dataframe for testing purpose
		df_test = pd.concat([df] * 10000, ignore_index=True)

		%%timeit # Numpy approach
		_ = first_valid(df_test.to_numpy(), 1)
		# 6.9 ms Â± 212 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)


		%%timeit # Pandas approach
		_ = first_valid(df_test, 1)
		# 90 ms Â± 867 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)


		%%timeit # OP's approach
		_ = f(df_test, 1)
		# 2.03 s Â± 183 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

		----------------------------------------------------------------------
	]
}
====================================================================================================


"qid": 57033657
"link": https://stackoverflow.com/questions/57033657/how-to-extract-month-name-and-year-from-date-column-of-dataframe
"question": {
	"title": How to Extract Month Name and Year from Date column of DataFrame
	"desc": I have the following DF I want to extract the month name and year in a simple way in the following format: I have used the which return format.
}
"io": {

In [59]:
all_answers_file = open("outputs/all_accepted_answers_with_all_details.json", 'w')
json.dump(obj=accepted_answers, fp=all_answers_file, indent=4)
all_answers_file.close()

taken_answer_file = open("outputs/taken_answers_with_all_details.json", "w")
json.dump(obj=taken_answers, fp=taken_answer_file, indent=4)
taken_answer_file.close()

In [68]:
# questions = []
# for pi in range(1, 21):
#     d = SITE.fetch(
#             "search/advanced", 
#             q="pandas,dataframe", 
#             accepted=True, 
#             tagged="pandas;dataframe;python", 
#             page=pi, 
#             filter="withbody"
#         )['items']
#     for itm in d:
#         if 'accepted_answer_id' in itm.keys() and 'pandas' in itm['tags'] and 'dataframe' in itm['tags']:
#             questions.append(itm)
#     print(len(questions))

500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000

In [69]:
# import os
# os.makedirs('ten_thousand_questions', exist_ok=True)
# ten_thousand_questions = open('ten_thousand_questions/questions_with_bodies.json', 'w')
# json.dump(questions, fp=ten_thousand_questions, indent=4)
# ten_thousand_questions.close()