In [1]:
from stackapi import StackAPI

SITE = StackAPI('stackoverflow')

qids = [
    11881165, 11941492, 13647222, 18172851, 49583055, 49592930, 49572546, 13261175, 
    13793321, 14085517, 11418192, 49567723, 13261691, 13659881, 13807758, 34365578, 
    10982266, 11811392, 49581206, 12065885, 13576164, 14023037, 53762029, 21982987, 
    39656670, 23321300
]

In [2]:
autopandas_questions = SITE.fetch('questions/{ids}', ids=qids, filter='withbody')

In [3]:
print(autopandas_questions.keys())

dict_keys(['backoff', 'has_more', 'page', 'quota_max', 'quota_remaining', 'total', 'items'])

In [4]:
ap_questions = autopandas_questions['items']
print(ap_questions[0].keys())

dict_keys(['tags', 'owner', 'is_answered', 'view_count', 'accepted_answer_id', 'answer_count', 'score', 'last_activity_date', 'creation_date', 'last_edit_date', 'question_id', 'content_license', 'link', 'title', 'body'])

In [5]:
accepted_answer_ids = [a['accepted_answer_id'] for a in ap_questions if 'accepted_answer_id' in a.keys()]
print(len(accepted_answer_ids))
answers = SITE.fetch('answers/{ids}', ids=accepted_answer_ids, filter='withbody')["items"]
print(answers[0].keys())

24
dict_keys(['owner', 'is_accepted', 'score', 'last_activity_date', 'last_edit_date', 'creation_date', 'answer_id', 'question_id', 'content_license', 'body'])

In [12]:
from bs4 import BeautifulSoup as bs
import re
import nltk

def min_word_filter(texts, min_word=3):
    filtered_texts = []
    for t in texts:
        if len(nltk.wordpunct_tokenize(t)) >= min_word:
            filtered_texts.append(t)
            pass
        pass
    return filtered_texts

def extract_code(text, filters):
    soup = bs(text)
    all_code = [code.text for code in soup.find_all('code')]
    for f in filters:
        all_code = f(all_code)
    return all_code
    pass

def add_answer_to_code(questions, answer):
    for idx, q in enumerate(questions):
        if q["question_id"] == answer["question_id"]:
            codes =  extract_code(answer["body"], filters=[min_word_filter])
            questions[idx]["code"] = codes
            break
            pass
        pass
    pass

for a in answers:
    add_answer_to_code(ap_questions, a)
    pass

for q in ap_questions:
    if "code" not in q.keys():
        q["code"] = []

In [13]:
def extract_description(html):
    soup = bs(html)
    [code.extract() for code in soup.find_all('code')]
    text = re.sub("[ \n\t]+", " ", soup.text)
    return text
    pass

In [14]:
test_examples = []

for example_id, q in enumerate(ap_questions):
    ques_id = q["question_id"]
    qtitle = q["title"]
    qdesc = extract_description(q["body"])
    test_examples.append(
        {
            'id': ques_id,
            'query': qtitle.strip().lower() + " " + qdesc.strip().lower(),
            "apis": [],
            'link': q['link'],
            "example": q["code"]
        }
    )

In [15]:
import json 

fp = open("dpr_exp/autopandas_test.json", "w")
json.dump(test_examples, fp, indent=4)
fp.close()

In [16]:
print(json.dumps(test_examples, indent=4))

[
    {
        "id": 18172851,
        "query": "deleting dataframe row in pandas based on column value i have the following dataframe: i need to remove the rows where is equal to . what's the most efficient way to do this?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/18172851/deleting-dataframe-row-in-pandas-based-on-column-value",
        "example": [
            "df = df[df.line_race != 0]\n"
        ]
    },
    {
        "id": 21982987,
        "query": "mean per group in a data.frame i have a and i need to calculate the mean per group (i.e. per , below). my desired output is like below, where the values for and are the group means. please disregard the value, i have made it up for the example.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/21982987/mean-per-group-in-a-data-frame",
        "example": [
            "d <- read.table(text=\n'Name     Month  Rate1     Rate2\nAira       1      12        23\nAira       2      18        73\nAira       3      19        45\nBen        1      53        19\nBen        2      22        87\nBen        3      19        45\nCat        1      22        87\nCat        2      67        43\nCat        3      45        32', header=TRUE)\n\naggregate(d[, 3:4], list(d$Name), mean)\n\n  Group.1    Rate1    Rate2\n1    Aira 16.33333 47.00000\n2     Ben 31.33333 50.33333\n3     Cat 44.66667 54.00000\n",
            "d$Name",
            "aggregate(. ~ Name, d[-2], mean)\n"
        ]
    },
    {
        "id": 13807758,
        "query": "how to delete a row in a pandas dataframe and relabel the index? i am reading a file into a pandas dataframe that may have invalid (i.e. nan) rows. this is sequential data, so i have row_id+1 refer to row_id. when i use frame.dropna(), i get the desired structure, but the index labels stay as they were originally assigned. how can the index labels get reassigned 0 to n-1 where n is the number of rows after dropna()?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13807758/how-to-delete-a-row-in-a-pandas-dataframe-and-relabel-the-index",
        "example": [
            "pandas.DataFrame.reset_index()",
            "drop=True",
            "In [14]: df = pd.DataFrame(np.random.randn(5,4))\n\nIn [15]: df.ix[::3] = np.nan\n\nIn [16]: df\nOut[16]:\n          0         1         2         3\n0       NaN       NaN       NaN       NaN\n1  1.895803  0.532464  1.879883 -1.802606\n2  0.078928  0.053323  0.672579 -1.188414\n3       NaN       NaN       NaN       NaN\n4 -0.766554 -0.419646 -0.606505 -0.162188\n\nIn [17]: df = df.dropna()\n\nIn [18]: df.reset_index(drop=True)\nOut[18]:\n          0         1         2         3\n0  1.895803  0.532464  1.879883 -1.802606\n1  0.078928  0.053323  0.672579 -1.188414\n2 -0.766554 -0.419646 -0.606505 -0.162188\n"
        ]
    },
    {
        "id": 12065885,
        "query": "filter dataframe rows if value in column is in a set list of values i have a python pandas dataframe : i can filter the rows whose stock id is like this: and i want to get all the rows of some stocks together, such as . that means i want a syntax like this: since pandas not accept above command, how to achieve the target?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/12065885/filter-dataframe-rows-if-value-in-column-is-in-a-set-list-of-values",
        "example": [
            "rpt[rpt['STK_ID'].isin(stk_list)]"
        ]
    },
    {
        "id": 13261175,
        "query": "pandas pivot dataframe to 3d data there seem to be a lot of possibilities to pivot flat table data into a 3d array but i'm somehow not finding one that works: suppose i have some data with columns=['name', 'type', 'date', 'value']. when i try to pivot via i get am i reading docs from dev pandas maybe? it seems like this is the usage described there. i am running 0.8 pandas. i guess, i'm wondering if i have a multiindex ['x', 'y', 'z'] series, is there a pandas way to put that in a panel? i can use groupby and get the job done, but then this is almost like what i would do in numpy to assemble an n-d array. seems like a fairly generic operation so i would imagine it might be implemented already.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13261175/pandas-pivot-dataframe-to-3d-data",
        "example": [
            "pandas.tools.pivot.pivot_table(your_dataframe, values='value', index='name', columns=['type', 'date'], aggfunc='sum')\n",
            "df = DataFrame({'name': ['A', 'B', 'A', 'B'], 'type': [1, 1, 2, 2], 'date': ['2012-01-01', '2012-01-01', '2012-02-01', '2012-02-01'],  'value': [1, 2, 3, 4]})\n\npt = df.pivot_table(values='value', index='name', columns=['type', 'date'])\np = df.pivot('name', 'type')\n",
            "type           1           2\ndate  2012-01-01  2012-02-01\nname                        \nA              1           3\nB              2           4\n",
            "          date              value   \ntype           1           2      1  2\nname                                  \nA     2012-01-01  2012-02-01      1  3\nB     2012-01-01  2012-02-01      2  4\n"
        ]
    },
    {
        "id": 11418192,
        "query": "pandas: complex filter on rows of dataframe i would like to filter rows by a function of each row, e.g. or for another more complex, contrived example, how can i do so?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/11418192/pandas-complex-filter-on-rows-of-dataframe",
        "example": [
            "DataFrame.apply",
            "In [3]: df = pandas.DataFrame(np.random.randn(5, 3), columns=['a', 'b', 'c'])\n\nIn [4]: df\nOut[4]: \n          a         b         c\n0 -0.001968 -1.877945 -1.515674\n1 -0.540628  0.793913 -0.983315\n2 -1.313574  1.946410  0.826350\n3  0.015763 -0.267860 -2.228350\n4  0.563111  1.195459  0.343168\n\nIn [6]: df[df.apply(lambda x: x['b'] > x['c'], axis=1)]\nOut[6]: \n          a         b         c\n1 -0.540628  0.793913 -0.983315\n2 -1.313574  1.946410  0.826350\n3  0.015763 -0.267860 -2.228350\n4  0.563111  1.195459  0.343168\n"
        ]
    },
    {
        "id": 13261691,
        "query": "understanding multiindex so i have a sample data set like this in csv:- executing the following:- how do i compress the first index (\"team\") further so that i don't have duplicate values? to become:-",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13261691/understanding-multiindex",
        "example": [
            "df = read_csv(\"data/Workbook1.csv\")\n\ndf\n\n     name team      date  score\n0    John    A    3/9/12    100\n1    John    B    3/9/12     99\n2    Jane    B    4/9/12    102\n3   Peter    A    9/9/12    103\n4   Josie    C   11/9/12    111\n5  Rachel    A  30/10/12     98\n6    Kate    B  31/10/12    103\n7   David    C   1/11/12    104\n\ndf2 = df.pivot('team', 'name').stack()\n\ndf2\n\n                 date  score\nteam name                   \nA    John      3/9/12    100\n     Peter     9/9/12    103\n     Rachel  30/10/12     98\nB    Jane      4/9/12    102\n     John      3/9/12     99\n     Kate    31/10/12    103\nC    David    1/11/12    104\n     Josie    11/9/12    111\n"
        ]
    },
    {
        "id": 13659881,
        "query": "count by unique pair of columns in pandas i'm trying to figure out how to count by number of rows per unique pair of columns (ip, useragent), e.g. to produce: ideas?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13659881/count-by-unique-pair-of-columns-in-pandas",
        "example": [
            "d.groupby(['ip', 'useragent']).size()\n",
            "ip          useragent               \n192.168.0.1 a           2\n            b           1\n192.168.0.2 b           1\n"
        ]
    },
    {
        "id": 13576164,
        "query": "pandas merge and retain the index a similar question was asked in how to keep index when using pandas merge, but it will not work with multiindexes, i.e, how can one make the merge while preserving the multiindex in the left dataframe?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13576164/pandas-merge-and-retain-the-index",
        "example": [
            "In [255]: a = a.reset_index()\n\nIn [256]: a\nOut[256]: \n   id1 id2  col1  to_merge_on\n0    1   a     1            2\n1    1   b     3            4\n2    2   a     1            2\n3    2   b     3            4\n\nIn [271]: c = pd.merge(a, b, how=\"left\")\n\nIn [272]: c\nOut[272]: \n   id1 id2  col1  to_merge_on  col2\n0    1   a     1            2   NaN\n1    2   a     1            2   NaN\n2    2   b     3            3     2\n3    1   b     3            4   NaN\n\nIn [273]: c = c.set_index(['id1','id2'])\n\nIn [274]: c\nOut[274]: \n         col1  to_merge_on  col2\nid1 id2                         \n1   a       1            2   NaN\n2   a       1            2   NaN\n    b       3            3     2\n1   b       3            4   NaN\n"
        ]
    },
    {
        "id": 11941492,
        "query": "selecting rows from a pandas dataframe with a compound (hierarchical) index i'm suspicious that this is trivial, but i yet to discover the incantation that will let me select rows from a pandas dataframe based on the values of a hierarchical key. so, for example, imagine we have the following dataframe: df looks as we would expect: if df were not indexed on group1 i could do the following: but that fails on this dataframe with an index. so maybe i should think of this like a pandas series with a hierarchical index: nope. that fails as well. so how do i select out all the rows where: group1 == 'a' group1 == 'a' & group2 == 'c' group2 == 'c' group1 in ['a','b','c']",
        "apis": [],
        "link": "https://stackoverflow.com/questions/11941492/selecting-rows-from-a-pandas-dataframe-with-a-compound-hierarchical-index",
        "example": [
            "In [5]: df.xs('a', level=0)\nOut[5]: \n        value1  value2\ngroup2                \nc          1.1     7.1\nc          2.0     8.0\nd          3.0     9.0\n\nIn [6]: df.xs('c', level='group2')\nOut[6]: \n        value1  value2\ngroup1                \na          1.1     7.1\na          2.0     8.0\n"
        ]
    },
    {
        "id": 13793321,
        "query": "joining table/dataframes with common column in python i have two dataframes: as you can see both dataframes have as a common column. i want to join these two dataframes by matching . my current code is: , but this is giving an error.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/13793321/joining-table-dataframes-with-common-column-in-python",
        "example": [
            "df1.merge(df2, on='Date_Time')\n",
            "import pandas as pd\ndf1 = pd.DataFrame([[1, 2, 3]])\ndf2 = pd.DataFrame([[1, 7, 8],[4, 9, 9]], columns=[0, 3, 4])\n\nIn [4]: df1\nOut[4]: \n   0  1  2\n0  1  2  3\n\nIn [5]: df2\nOut[5]: \n   0  3  4\n0  1  7  8\n1  4  9  9\n\nIn [6]: df1.merge(df2, on=0)\nOut[6]: \n   0  1  2  3  4\n0  1  2  3  7  8\n\nIn [7]: df1.merge(df2, on=0, how='outer')\nOut[7]: \n   0   1   2  3  4\n0  1   2   3  7  8\n1  4 NaN NaN  9  9\n",
            "In [8]: df1.join(df2, on=0)\n# error!\nException: columns overlap: array([0], dtype=int64)\n"
        ]
    },
    {
        "id": 53762029,
        "query": "pandas groupby and cumsum on a column i have a data set which looks like the following i want to group by the month, year and speciality and get cumulative sum on 'doc_id count' column. these are the following i tried: none of them are returning the proper cumulative sum. any solution can help. the expected output should be: for each year, month and speciality i want the cumsum of 'doc_id count'",
        "apis": [],
        "link": "https://stackoverflow.com/questions/53762029/pandas-groupby-and-cumsum-on-a-column",
        "example": []
    },
    {
        "id": 39656670,
        "query": "another way to do pivot table in r i have data set like below: then there is a code count mean of certain variables: and the output is: then i need to perform an output like below: i tried to do like this: the output is same. my question: is there anyway to perform the same output with the different way? this is my a course but my submission was rejected. i do not know why but i had ask the about this. please advise",
        "apis": [],
        "link": "https://stackoverflow.com/questions/39656670/another-way-to-do-pivot-table-in-r",
        "example": [
            "library(dplyr)\nlibrary(tidyr)\nworldcup %>% \n       gather(Var, Val, Time:Saves) %>% \n       filter(Var!= \"Shots\") %>%\n       group_by(Var) %>% \n       summarise(Mean = mean(Val))\n"
        ]
    },
    {
        "id": 49592930,
        "query": "inserting row in pandas dataframe based on time using datetime index i have two dataframes as show below: the length is equal to 55037 , and the other one the length is equal to 27519, the two dataframe above are groupby with different time step, now i would like to match the time step in the beginning and end automatic. for example, the \"2014-05-21 09:00:00\" is lack in df1, how can i write a function, put the df1 and it would check if the beginning and end matched df2, then return a new df1 which in the beginning and end equal to df2 and the value equal to zero. so in the end the new df1 would as show below, and length equal to 55038 (make sure it is two times large than df2) anyone have idea ? thanks in adavance!",
        "apis": [],
        "link": "https://stackoverflow.com/questions/49592930/inserting-row-in-pandas-dataframe-based-on-time-using-datetime-index",
        "example": [
            "df2.index",
            "df = df1.combine_first(df2)\nprint (df)\n                     value\n2014-05-21 09:00:00    0.0 <- value not exist in df1, used df2 value\n2014-05-21 09:30:00    0.0\n2014-05-21 10:00:00   10.0 <-value exist in both df, used df1 value\n2014-05-21 10:30:00    3.0\n2017-07-10 21:00:00    1.6\n2017-07-10 22:00:00   32.1\n2017-07-10 22:30:00   18.3\n2017-07-10 23:00:00    7.6\n2017-07-10 23:30:00    0.0\n"
        ]
    },
    {
        "id": 49583055,
        "query": "how to sort only certain rows within a group in pandas? i have a dataframe that is grouped by . for each group, there is one row that has a flag that identifies that its the first instance . i ultimately want to sort each group by admit date, however, i need the row with to be the first row of that group regardless of its date. then i want to sort the remaining rows based on admit date. sample : expected : my approach does not account for the 'first' column being first within the group. this has been stumping me all day.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/49583055/how-to-sort-only-certain-rows-within-a-group-in-pandas",
        "example": [
            "df.sort_values(by=['ID', 'first', 'admit'], \n               ascending = [True, False, True],\n               inplace = True)\n"
        ]
    },
    {
        "id": 49581206,
        "query": "how can i get the percentage between two subcolumn on pandas multinindex? i have this, i would like the percent of yes column, as follows,",
        "apis": [],
        "link": "https://stackoverflow.com/questions/49581206/how-can-i-get-the-percentage-between-two-subcolumn-on-pandas-multinindex",
        "example": []
    },
    {
        "id": 49572546,
        "query": "assign values in pandas column based on another column i have two dataframes like the ones that are shown below: a and b i want to merge the two datasets and replace the zeros in a with the values in b based on the timestamp column and have a new a dataframe like the one shown below:",
        "apis": [],
        "link": "https://stackoverflow.com/questions/49572546/assign-values-in-pandas-column-based-on-another-column",
        "example": [
            "#convert columns to indices if necessary\n#A = A.set_index('Timestamp')\n#B = B.set_index('Timestamp')\n\ndf = B.mask(B == 0).combine_first(A)\n#alternative\n#df = B.replace({0:np.nan}).combine_first(A)\nprint (df)\n           C1  C2  C3\nTimestamp            \n1           0   0   0\n2           0   0   0\n3          v1  v2  v3\n4          v4  v5  v6\n5           0   0   0\n6           0   0   0\n7           0   0   0\n"
        ]
    },
    {
        "id": 49567723,
        "query": "how can i compare different values with same ids of different dataframe pandas i have two different dataframe named df1 and df2, with same id column, but some ids have the same count and some ids have the different counts, so i want to get the data for same ids with the different count values, and both dataframes have the different indexes following is my df1 my df2 is how can i do that?",
        "apis": [],
        "link": "https://stackoverflow.com/questions/49567723/how-can-i-compare-different-values-with-same-ids-of-different-dataframe-pandas",
        "example": [
            "df1.merge(df2, on='id').query('valueA != valueB')\n",
            "    id  valueA  valueB\n0  255    1141    1231\n1   91    1130    1170\n2  347     830     870\n5  159     715     734\n8  225     638     644\n",
            "df_out = df1.merge(df2, on='id')\ndf_out[df_out['valueA'] != df_out['valueB']]\n",
            "df1 = df1.set_index('id')\ndf2 = df2.set_index('id')\n\ndf_diff = df1['valueA'] - df2['valueB']\n\ndf_diff = df_diff[df_diff.notnull() & df_diff.ne(0)]\n\npd.concat([df1.reindex(df_diff.index), df2.reindex(df_diff.index)], axis=1)\n",
            "     valueA  valueB\nid                 \n91     1130    1170\n159     715     734\n225     638     644\n255    1141    1231\n347     830     870\n"
        ]
    },
    {
        "id": 11881165,
        "query": "slice pandas dataframe by row i am working with survey data loaded from an h5-file as through the pandas package. within this , all rows are the results of a single survey, whereas the columns are the answers for all questions within a single survey. i am aiming to reduce this dataset to a smaller including only the rows with a certain depicted answer on a certain question, i.e. with all the same value in this column. i am able to determine the index values of all rows with this condition, but i can't find how to delete this rows or make a new df with these rows only.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/11881165/slice-pandas-dataframe-by-row",
        "example": [
            "In [36]: df\nOut[36]:\n   A  B  C  D\na  0  2  6  0\nb  6  1  5  2\nc  0  2  6  0\nd  9  3  2  2\n\nIn [37]: rows\nOut[37]: ['a', 'c']\n\nIn [38]: df.drop(rows)\nOut[38]:\n   A  B  C  D\nb  6  1  5  2\nd  9  3  2  2\n\nIn [39]: df[~((df.A == 0) & (df.B == 2) & (df.C == 6) & (df.D == 0))]\nOut[39]:\n   A  B  C  D\nb  6  1  5  2\nd  9  3  2  2\n\nIn [40]: df.ix[rows]\nOut[40]:\n   A  B  C  D\na  0  2  6  0\nc  0  2  6  0\n\nIn [41]: df[((df.A == 0) & (df.B == 2) & (df.C == 6) & (df.D == 0))]\nOut[41]:\n   A  B  C  D\na  0  2  6  0\nc  0  2  6  0\n"
        ]
    },
    {
        "id": 11811392,
        "query": "how to generate a list from a pandas dataframe with the column name and column values? i have a pandas dataframe object that looks like this: i'd like to generate a list of lists objects where the first item is the column label and the remaining list values are the column data values: how can i do this? thanks for the help.",
        "apis": [],
        "link": "https://stackoverflow.com/questions/11811392/how-to-generate-a-list-from-a-pandas-dataframe-with-the-column-name-and-column-v",
        "example": [
            "list(dt.T.itertuples())"
        ]
    },
    {
        "id": 10982266,