In [1]:
import os
import csv
import pathlib
import json
import gzip
import logging
import pickle
import time
from typing import List, Tuple, Dict, Iterator

import numpy as np
import torch
from torch import Tensor as T
from torch import nn

from dpr.data.qa_validation import calculate_matches_by_id
from dpr.models import init_biencoder_components
from dpr.options import (
    add_encoder_params, 
    setup_args_gpu, 
    print_args, 
    set_encoder_params_from_state, 
    add_tokenizer_params, 
    add_cuda_params
)
from dpr.utils.data_utils import Tensorizer
from dpr.utils.model_utils import (
    setup_for_distributed_mode, 
    get_model_obj, 
    load_states_from_checkpoint, 
    move_to_device
)

In [2]:
import json
import nltk 

api_lists = json.load(open("data/api_list.json"))

def get_test_data(api_lists):
    examples = []
    fail_count = 0
    example_id = 1
    for i in range(1, 4):
        example_file = f"../25_K_Examples/part-{i}-output/taken_answers_with_all_details.json"
        data = json.load(open(example_file))
        for e in data:
            try:
                ques_id = e['question_id']
                qtitle = e['formatted_input']['question']['title']
                qdesc = e['formatted_input']['question']['ques_desc']
                codes = e['formatted_input']['answer']['code']
                apis = set()
                for c in codes:
                    tokens = nltk.wordpunct_tokenize(c)
                    for tidx, token in enumerate(tokens):
                        token = token.strip()
                        if tidx >= 0:
                            prev_token = tokens[tidx - 1].strip()[-1]
                            if (token in api_lists and prev_token == ".") or token == "DataFrame":
                                apis.add(token)
                api_seq = list(sorted(apis))
                if len(api_seq) <= 0:
                    continue
                examples.append({
                    'id': ques_id,
                    'query': qtitle.strip().lower() + " " + qdesc.strip().lower(),
                    "apis": api_seq,
                    'link': e['link'],
                    "example": e['formatted_input']
                })
            except Exception as ex:
                print(ex)
                fail_count += 1
    return examples

_examples = get_test_data(list(api_lists.keys()))

_apis = list(sorted(api_lists.keys()))
_api_docs = [api_lists[a] for a in _apis]
print(len(_examples))
print(json.dumps(api_lists, indent=4))

608
{
    "DataFrame": "two-dimensional  size-mutable  potentially heterogeneous tabular data.",
    "agg": "aggregate using one or more operations over the specified axis.",
    "nunique": "count number of distinct elements in specified axis.",
    "copy": "make a copy of this objects indices and data.",
    "swaplevel": "swap levels i and j in a multiindex.",
    "count": "count non-na cells for each column or row.",
    "pivot": "return reshaped dataframe organized by given index / column values.",
    "idxmin": "return index of first occurrence of minimum over requested axis.",
    "drop_duplicates": "return dataframe with duplicate rows removed.",
    "mul": "get multiplication of dataframe and other  element-wise (binary operator mul).",
    "pct_change": "percentage change between the current and a prior element.",
    "melt": "unpivot a dataframe from wide to long format  optionally leaving identifiers set.",
    "to_string": "render a dataframe to a console-friendly tabular output.",
    "dot": "compute the matrix multiplication between the dataframe and other.",
    "reindex": "conform series/dataframe to new index with optional filling logic.",
    "sort_values": "sort by the values along either axis.",
    "duplicated": "return boolean series denoting duplicate rows.",
    "rename": "alter axes labels.",
    "stack": "stack the prescribed level(s) from columns to index.",
    "resample": "resample time-series data.",
    "combine_first": "update null elements with value in the same location in other.",
    "values": "return a numpy representation of the dataframe.",
    "head": "return the first n rows.",
    "unstack": "pivot a level of the (necessarily hierarchical) index labels.",
    "first": "select initial periods of time series data based on a date offset.",
    "where": "replace values where the condition is false.",
    "mean": "return the mean of the values over the requested axis.",
    "merge": "merge dataframe or named series objects with a database-style join.",
    "corr": "compute pairwise correlation of columns  excluding na/null values.",
    "to_dict": "convert the dataframe to a dictionary.",
    "loc": "access a group of rows and columns by label(s) or a boolean array.",
    "sort_index": "sort object by labels (along an axis).",
    "clip": "trim values at input threshold(s).",
    "nlargest": "return the first n rows ordered by columns in descending order.",
    "query": "query the columns of a dataframe with a boolean expression.",
    "gt": "get greater than of dataframe and other  element-wise (binary operator gt).",
    "add": "get addition of dataframe and other  element-wise (binary operator add).",
    "lookup": "(deprecated) label-based fancy indexing function for dataframe.",
    "max": "return the maximum of the values over the requested axis.",
    "diff": "first discrete difference of element.",
    "index": "the index (row labels) of the dataframe.",
    "iat": "access a single value for a row/column pair by integer position.",
    "rolling": "provide rolling window calculations.",
    "ge": "get greater than or equal to of dataframe and other  element-wise (binary operator ge).",
    "notnull": "detect existing (non-missing) values.",
    "mask": "replace values where the condition is true.",
    "sum": "return the sum of the values over the requested axis.",
    "fillna": "fill na/nan values using the specified method.",
    "quantile": "return values at the given quantile over requested axis.",
    "insert": "insert column into dataframe at specified location.",
    "iteritems": "iterate over (column name  series) pairs.",
    "apply": "apply a function along an axis of the dataframe.",
    "iterrows": "iterate over dataframe rows as (index  series) pairs.",
    "isna": "detect missing values.",
    "empty": "indicator whether dataframe is empty.",
    "replace": "replace values given in to_replace with value.",
    "ne": "get not equal to of dataframe and other  element-wise (binary operator ne).",
    "keys": "get the info axis (see indexing for more).",
    "pivot_table": "create a spreadsheet-style pivot table as a dataframe.",
    "interpolate": "fill nan values using an interpolation method.",
    "rename_axis": "set the name of the axis for the index or columns.",
    "itertuples": "iterate over dataframe rows as namedtuples.",
    "pop": "return item and drop from frame.",
    "astype": "cast a pandas object to a specified dtype dtype.",
    "round": "round a dataframe to a variable number of decimal places.",
    "squeeze": "squeeze 1 dimensional axis objects into scalars.",
    "transpose": "transpose index and columns.",
    "tail": "return the last n rows.",
    "cumprod": "return cumulative product over a dataframe or series axis.",
    "select_dtypes": "return a subset of the dataframes columns based on the column dtypes.",
    "to_records": "convert dataframe to a numpy record array.",
    "at": "access a single value for a row/column label pair.",
    "dropna": "remove missing values.",
    "drop": "drop specified labels from rows or columns.",
    "sample": "return a random sample of items from an axis of object.",
    "cumsum": "return cumulative sum over a dataframe or series axis.",
    "to_period": "convert dataframe from datetimeindex to periodindex.",
    "groupby": "group dataframe using a mapper or by a series of columns.",
    "le": "get less than or equal to of dataframe and other  element-wise (binary operator le).",
    "isnull": "detect missing values.",
    "get": "get item from object for given key (ex: dataframe column).",
    "mode": "get the mode(s) of each element along the selected axis.",
    "assign": "assign new columns to a dataframe.",
    "to_json": "convert the object to a json string.",
    "rank": "compute numerical data ranks (1 through n) along axis.",
    "to_xarray": "return an xarray object from the pandas object.",
    "droplevel": "return series/dataframe with requested index / column level(s) removed.",
    "from_dict": "construct dataframe from dict of array-like or dicts.",
    "to_csv": "write object to a comma-separated values (csv) file.",
    "eval": "evaluate a string describing operations on dataframe columns.",
    "lt": "get less than of dataframe and other  element-wise (binary operator lt).",
    "size": "return an int representing the number of elements in this object.",
    "iloc": "purely integer-location based indexing for selection by position.",
    "append": "append rows of other to the end of caller  returning a new object.",
    "value_counts": "return a series containing counts of unique rows in the dataframe.",
    "update": "modify in place using non-na values from another dataframe.",
    "columns": "the column labels of the dataframe.",
    "any": "return whether any element is true  potentially over an axis.",
    "set_axis": "assign desired index to given axis.",
    "cummin": "return cumulative minimum over a dataframe or series axis.",
    "applymap": "apply a function to a dataframe elementwise.",
    "min": "return the minimum of the values over the requested axis.",
    "set_index": "set the dataframe index using existing columns.",
    "ffill": "synonym for dataframe.fillna() with method='ffill'.",
    "join": "join columns of another dataframe.",
    "div": "get floating division of dataframe and other  element-wise (binary operator truediv).",
    "radd": "get addition of dataframe and other  element-wise (binary operator radd).",
    "first_valid_index": "return index for first non-na value or none  if no na value is found.",
    "filter": "subset the dataframe rows or columns according to the specified index labels.",
    "to_excel": "write object to an excel sheet.",
    "add_prefix": "prefix labels with string prefix.",
    "std": "return sample standard deviation over requested axis.",
    "shift": "shift index by desired number of periods with an optional time freq.",
    "style": "returns a styler object.",
    "explode": "transform each element of a list-like to a row  replicating index values.",
    "reset_index": "reset the index  or a level of it.",
    "shape": "return a tuple representing the dimensionality of the dataframe.",
    "sub": "get subtraction of dataframe and other  element-wise (binary operator sub).",
    "idxmax": "return index of first occurrence of maximum over requested axis.",
    "cummax": "return cumulative maximum over a dataframe or series axis.",
    "dtypes": "return the dtypes in the dataframe.",
    "abs": "return a series/dataframe with absolute numeric value of each element.",
    "eq": "get equal to of dataframe and other  element-wise (binary operator eq).",
    "notna": "detect existing (non-missing) values.",
    "all": "return whether all elements are true  potentially over an axis.",
    "last": "select final periods of time series data based on a date offset.",
    "items": "iterate over (column name  series) pairs.",
    "isin": "whether each element in the dataframe is contained in values.",
    "plot": "dataframe plotting accessor and method",
    "bfill": "synonym for dataframe.fillna() with method='bfill'.",
    "add_suffix": "suffix labels with string suffix.",
    "transform": "call func on self producing a dataframe with transformed values."
}

In [3]:
model_path = "models/bert/pandas_1/checkpoint_best.pt"

In [4]:
import argparse
parser = argparse.ArgumentParser()

add_encoder_params(parser)
add_tokenizer_params(parser)
add_cuda_params(parser)
parser.add_argument(
    '--shard_size', 
    type=int, 
    default=50000, 
    help="Total amount of data in 1 shard"
)
parser.add_argument(
    '--batch_size', 
    type=int, 
    default=32, 
    help="Batch size for the passage encoder forward pass"
)
parser.add_argument(
    '--dataset', 
    type=str, 
    default=None, 
    help=' to build correct dataset parser '
)

args = parser.parse_args({})
args.model_file = model_path
setup_args_gpu(args)
saved_state = load_states_from_checkpoint(args.model_file)
set_encoder_params_from_state(saved_state.encoder_params, args)
print(args)

Overriding args parameter value from checkpoint state. Param = pretrained_model_cfg, value = google/bert_uncased_L-6_H-512_A-8
Overriding args parameter value from checkpoint state. Param = encoder_model_type, value = hf_bert
Overriding args parameter value from checkpoint state. Param = sequence_length, value = 512

Namespace(batch_size=32, dataset=None, device=device(type='cuda'), distributed_world_size=1, do_lower_case=False, encoder_model_type='hf_bert', fp16=False, fp16_opt_level='O1', local_rank=-1, model_file='models/bert/pandas_1/checkpoint_best.pt', n_gpu=1, no_cuda=False, pretrained_file=None, pretrained_model_cfg='google/bert_uncased_L-6_H-512_A-8', projection_dim=0, sequence_length=512, shard_size=50000)

In [5]:
tensorizer, encoder, _ = init_biencoder_components(args.encoder_model_type, args, inference_only=True)
encoder.load_state_dict(saved_state.model_dict)

query_model = encoder.question_model
document_model = encoder.ctx_model

In [6]:
args.device = torch.device("cpu")

In [7]:
import copy 

api_docs = copy.deepcopy(_api_docs)
apis = copy.deepcopy(_apis)
document_tensors = []
for a, d in zip(apis, api_docs):
    tensor = tensorizer.text_to_tensor(d, title=a)
    document_tensors.append(tensor)

doc_ids = move_to_device(torch.stack(document_tensors, dim=0), args.device)
doc_seg_batch = move_to_device(torch.zeros_like(doc_ids), args.device)
doc_attn_mask = move_to_device(tensorizer.get_attn_mask(doc_ids), args.device)

print(doc_ids.shape, doc_seg_batch.shape, doc_attn_mask.shape)

document_model.to(args.device)

with torch.no_grad():
    _, doc_vectors, _ = document_model(doc_ids, doc_seg_batch, doc_attn_mask)
print(doc_vectors.shape)

torch.Size([132, 512]) torch.Size([132, 512]) torch.Size([132, 512])
torch.Size([132, 512])

In [8]:
from tqdm.notebook import tqdm


def get_query_vectors(sentences):
    query_tensors = []
    for ex in sentences:
        tensor = tensorizer.text_to_tensor(ex)
        query_tensors.append(tensor)

    query_ids = move_to_device(torch.stack(query_tensors, dim=0), args.device)
    query_seg_batch = move_to_device(torch.zeros_like(query_ids), args.device)
    query_attn_mask = move_to_device(tensorizer.get_attn_mask(query_ids), args.device)

    query_model.to(args.device)

    with torch.no_grad():
        _, query_vectors, _ = query_model(query_ids, query_seg_batch, query_attn_mask)
    return query_ids, query_seg_batch, query_attn_mask, query_vectors

test_examples = copy.deepcopy(_examples)
query_sentences = [ex["query"] for ex in test_examples]
query_ids, query_seg_batch, query_attn_mask, query_vectors = get_query_vectors(query_sentences)
print(query_vectors.shape)

torch.Size([608, 512])

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_results = cosine_similarity(query_vectors.cpu().numpy(), doc_vectors.cpu().numpy())
print(similarity_results.shape)

torch.save(
    (
        query_sentences, 
        query_ids.cpu(), 
        query_seg_batch.cpu(), 
        query_attn_mask.cpu(), 
        query_vectors.cpu(), 
        doc_vectors.cpu(), 
        similarity_results
    ), 
    "from_jupyter.pt"
)

(608, 132)

In [10]:
for exid, example in enumerate(test_examples):
    pred_similaroty = [(a, s) for a, s in zip(apis, similarity_results[exid, :].tolist())]
    sorted_apis = sorted(pred_similaroty, key=lambda x: x[1])[::-1]
    example["expected"] = example["apis"]
    example["predicted"] = sorted_apis
    
print(test_examples[0].keys())

dict_keys(['id', 'query', 'apis', 'link', 'example', 'expected', 'predicted'])

In [23]:
def analyze_performance(top_k):
    result = []
    percentage = []
    count = []
    full_correct = []
    for example in test_examples:
        match_found = 0
        prediction_apis = [x[0] for x in example["predicted"][:top_k]]
#         example["predicted"] = example["predicted"][:top_k]
        expected = set(example['expected'])
        num_apis = len(expected)
        for api in expected:
            if api in prediction_apis:
                match_found += 1
        result.append({
            'example': example,
            'num_apis': num_apis,
            'match_found': match_found,
            'percentage': match_found/float(num_apis),
            'full_match': 1 if match_found == len(expected) else 0
        })
        if match_found == len(expected):
            _ex = copy.deepcopy(example)
            _ex["predicted"] = _ex["predicted"][:top_k]
            _ex.pop("apis", None)
            full_correct.append(_ex)
        count.append(match_found)
        percentage.append(match_found/float(num_apis) * 100)
    return result, percentage, count, full_correct


def show_performance(k, max_apis=8):
    top_k_res, top_k_per, top_k_count, _ = analyze_performance(k)

    count_to_percentage = {}
    for res in top_k_res:
        if res['num_apis'] not in count_to_percentage:
            count_to_percentage[res['num_apis']] = []
        count_to_percentage[res['num_apis']].append(res)
        pass
    print("|" + ("=" * 55) + "|")
    print("|" + (" " * 25) + (f"Top %2d" % k) + (" " * 24) + "|")
    print("|" + ("-" * 55) + "|")
    print("| #APIs\t| #Examples\t| Full\t| Half\t| 1/3\t| 1/4\t|")
    print("|" + ("-" * 55) + "|")
    full, half, one_third, one_fourth, total_nums = 0, 0, 0, 0, 0
    for num_actual_api in sorted(count_to_percentage.keys()):
        if num_actual_api > max_apis:
            break
        results = count_to_percentage[num_actual_api]
        total_full_correct = sum([1 if r['percentage'] > 0.999 else 0 for r in results])
        full += total_full_correct
        total_half_correct = sum([1 if r['percentage'] >= 0.499 else 0 for r in results])
        half += total_half_correct
        total_one_third_correct = sum([1 if r['percentage'] >= 0.33 else 0 for r in results])
        one_third += total_one_third_correct
        total_one_fourth_correct = sum([1 if r['percentage'] >= 0.2499 else 0 for r in results])
        one_fourth += total_one_fourth_correct
        total_nums += len(results)
        print(
            "| %d\t| %d\t\t| %d\t| %d\t| %d\t| %d\t|" % (
                num_actual_api, 
                len(results),
                total_full_correct, 
                total_half_correct, 
                total_one_third_correct, 
                total_one_fourth_correct, 
            )
        )
        pass
    print("|" + ("=" * 55) + "|")
    print(
            "| %s\t| %d\t\t| %d\t| %d\t| %d\t| %d\t|" % (
                "total", 
                total_nums,
                full, 
                half, 
                one_third, 
                one_fourth, 
            )
        )
    print("|" + ("=" * 55) + "|")
    return top_k_res, count_to_percentage
    pass

top_k_res, top_k_per, top_k_count, full_correct = analyze_performance(10)
print(len(full_correct))
taken_ids = set()
for f in full_correct:
    if f['id'] != f['example']['qid']:
        print(f['id'], f['example']['qid'])
    taken_ids.add(f['id'])
    if len(f['expected']) >= 4:
        print(json.dumps(f, indent=4))
        print("=" * 100)
# print(json.dumps(full_correct[6:15], indent=4))
print(len(full_correct), len(taken_ids))

113
{
    "id": 63264777,
    "query": "python: append 2 columns of a dataframe together i am loading a csv file into a data frame using pandas. my dataframe looks something like this: i wish to append 2 of the columns into a new column: col4 needs to be created by appending the contents of col1 and col2 together. how can i do this in pandas/python? edit",
    "link": "https://stackoverflow.com/questions/63264777/python-append-2-columns-of-a-dataframe-together",
    "example": {
        "qid": 63264777,
        "link": "https://stackoverflow.com/questions/63264777/python-append-2-columns-of-a-dataframe-together",
        "question": {
            "title": "Python: Append 2 columns of a dataframe together",
            "ques_desc": "I am loading a csv file into a data frame using pandas. My dataframe looks something like this: I wish to append 2 of the columns into a new column: col4 needs to be created by appending the contents of col1 and col2 together. How can I do this in pandas/python? EDIT "
        },
        "io": [
            "col1       col2       col3         \n1           4           1 \n2           5           2\n3           6           3\n",
            "  col1       col2        col3       col4   \n    1           4           1         1\n    2           5           2         2\n    3           6           3         3\n                                      4\n                                      5 \n                                      6\n"
        ],
        "answer": {
            "ans_desc": "First use or with for new and then add to original by or : Last for avoid converting to floats is possible use: Or convert missing values to empty strings (what should be problem if need processing df later by some numeric method): EDIT: ",
            "code": [
                "s = df['col1'].append(df['col2'], ignore_index=True).rename('col4')\n#alternative\n#s = pd.concat([df['col1'], df['col2']], ignore_index=True).rename('col4')\n\ndf1 = df.join(s, how='outer')\n#alternative\n#df1 = pd.concat([df, s], axis=1)\n",
                "df = df.reset_index(drop=True)\n\ns1 = df['full_name'].append(df['alt_name'], ignore_index=True).rename('combined_names')\ns2 = df['full_address'].append(df['alt_add'], ignore_index=True).rename('combined_address')\n\ndf1 = pd.concat([df, s1, s2], axis=1)\n"
            ]
        }
    },
    "expected": [
        "append",
        "join",
        "rename",
        "reset_index"
    ],
    "predicted": [
        [
            "append",
            0.8843740820884705
        ],
        [
            "DataFrame",
            0.8709995150566101
        ],
        [
            "reset_index",
            0.8696591258049011
        ],
        [
            "stack",
            0.8635185360908508
        ],
        [
            "explode",
            0.8600462675094604
        ],
        [
            "rename",
            0.8577467799186707
        ],
        [
            "itertuples",
            0.85721355676651
        ],
        [
            "values",
            0.8566570281982422
        ],
        [
            "columns",
            0.8565797209739685
        ],
        [
            "join",
            0.8562741875648499
        ]
    ]
}
====================================================================================================
{
    "id": 56020272,
    "query": "convert rows per unique id into all comma separated possibilities i have some data in the following format, at the moment this is in a pandas dataframe. what i require is all of the possible combinations of the lenders columns for each uid so the output would be something like this and the same for uid 2 and so on, apologies if this has been answered before i'm just unsure of how to approach this. thanks,",
    "link": "https://stackoverflow.com/questions/56020272/convert-rows-per-unique-id-into-all-comma-separated-possibilities",
    "example": {
        "qid": 56020272,
        "link": "https://stackoverflow.com/questions/56020272/convert-rows-per-unique-id-into-all-comma-separated-possibilities",
        "question": {
            "title": "Convert Rows per Unique Id into all comma separated possibilities",
            "ques_desc": "i have some data in the following format, at the moment this is in a Pandas Dataframe. What i require is all of the possible combinations of the Lenders columns for each Uid so the output would be something like this And the same for Uid 2 and so on, apologies if this has been answered before i'm just unsure of how to approach this. Thanks, "
        },
        "io": [
            "Row   Uid    Lender\n1     1      HSBC\n2     1      Lloyds\n3     1      Barclays\n4     2      Lloyds\n5     2      Barclays\n6     2      Santander\n7     2      RBS\n8     2      HSBC\n",
            "Row   Uid   LenderCombo\n1     1     Barclays\n2     1     Lloyds\n3     1     HSBC\n4     1     Barclays, HSBC\n5     1     Barclays, Lloyds\n6     1     HSBC, Lloyds \n7     1     Barclays, HSBC, Lloyds\n"
        ],
        "answer": {
            "ans_desc": "Use with custom function and join tuples by : ",
            "code": [
                "from itertools import chain, combinations\n\n#https://stackoverflow.com/a/5898031\ndef all_subsets(ss):\n    return chain(*map(lambda x: combinations(ss, x), range(1, len(ss)+1)))\n\ndf = (df.groupby('Uid')['Lender']\n       .apply(lambda x: pd.Series([', '.join(y) for y in all_subsets(x)]))\n       .reset_index()\n       .rename(columns={'level_1':'Row'}))\n"
            ]
        }
    },
    "expected": [
        "apply",
        "groupby",
        "join",
        "rename",
        "reset_index"
    ],
    "predicted": [
        [
            "columns",
            0.8913850784301758
        ],
        [
            "filter",
            0.888978123664856
        ],
        [
            "join",
            0.8820846080780029
        ],
        [
            "reset_index",
            0.8809670209884644
        ],
        [
            "set_index",
            0.879010021686554
        ],
        [
            "values",
            0.8757408261299133
        ],
        [
            "groupby",
            0.8756147027015686
        ],
        [
            "rename",
            0.8716951608657837
        ],
        [
            "apply",
            0.8689320683479309
        ],
        [
            "unstack",
            0.8678364753723145
        ]
    ]
}
====================================================================================================
113 113

In [12]:
print(json.dumps(full_correct[6:15], indent=4))
fp = open("full_correct_results_top_10.json", "w")
json.dump(full_correct, fp, indent=4)
fp.close()

[
    {
        "id": 67257898,
        "query": "how to add a value to a new column by referencing the values in a column i have a dataframe like this: the xy column must be filled with the value of the column names in the reason column. let's look at the first row. the reason column shows our value x1. so our value in column xy, will be the value of x1 column in the first row. like this: is there a way to do this?",
        "link": "https://stackoverflow.com/questions/67257898/how-to-add-a-value-to-a-new-column-by-referencing-the-values-in-a-column",
        "example": {
            "qid": 67257898,
            "link": "https://stackoverflow.com/questions/67257898/how-to-add-a-value-to-a-new-column-by-referencing-the-values-in-a-column",
            "question": {
                "title": "How to add a value to a new column by referencing the values in a column",
                "ques_desc": "I have a dataframe like this: The xy column must be filled with the value of the column names in the reason column. Let's look at the first row. The reason column shows our value x1. So our value in column xy, will be the value of x1 column in the first row. Like this: Is there a way to do this? "
            },
            "io": [
                "id  reason  x1    x2   x3   x4   x5 \n 1  x1      100   15   10   20   25\n 2  x1      15    16   14   10   10\n 3  x4      10    50   40   30   25\n 4  x3      12    15   60   5    1\n 5  x1      80    15   10   20   25\n 6  x1      15    19   84   10   10\n 7  x4      90    40   90   30   25\n 8  x4      12    85   60   50   10\n",
                "id  reason  x1    x2   x3   x4   x5   xy\n 1  x1      100   15   10   20   25   100\n 2  x1      15    16   14   10   10   15\n 3  x4      10    50   40   30   25   30\n 4  x3      12    15   60   5    1    60\n 5  x1      80    15   10   20   25   80\n 6  x1      15    19   84   10   10   15\n 7  x4      90    40   90   30   25   30\n 8  x4      12    85   60   50   10   50\n"
            ],
            "answer": {
                "ans_desc": " Prints: ",
                "code": [
                    "df[\"xy\"] = df.apply(lambda x: x[x[\"reason\"]], axis=1)\nprint(df)\n"
                ]
            }
        },
        "expected": [
            "apply"
        ],
        "predicted": [
            [
                "astype",
                0.9048309326171875
            ],
            [
                "where",
                0.9040565490722656
            ],
            [
                "iat",
                0.9031678438186646
            ],
            [
                "values",
                0.9017855525016785
            ],
            [
                "apply",
                0.9003180861473083
            ],
            [
                "applymap",
                0.8976870775222778
            ],
            [
                "loc",
                0.8966784477233887
            ],
            [
                "eval",
                0.8945940136909485
            ],
            [
                "lookup",
                0.8939566612243652
            ],
            [
                "transform",
                0.8932572603225708
            ]
        ]
    },
    {
        "id": 67243081,
        "query": "best way to change column data for all rows over multiple dataframes in pandas? consider dataframes , , and . and have an column, and has a and column. i need to iterate over all rows of , and replace and with new unique randomly generated uuids, and then update those in and where (before the change to uuid). i originally wanted to iterate over all rows of and simply check both and if they contain the original or inside the column before replacing both, but i found that iterating over pandas rows is a bad idea and slow. i'm not sure how i can apply the other mentioned methods in that post to this problem since i'm not applying a simple function or calculating anything, and i think the way i had intended to do it would be too slow for big dataframes. my current method that i believe to be slow and inefficient: here and are above mentioned and , and is example example : example :",
        "link": "https://stackoverflow.com/questions/67243081/best-way-to-change-column-data-for-all-rows-over-multiple-dataframes-in-pandas",
        "example": {
            "qid": 67243081,
            "link": "https://stackoverflow.com/questions/67243081/best-way-to-change-column-data-for-all-rows-over-multiple-dataframes-in-pandas",
            "question": {
                "title": "Best way to change column data for all rows over multiple dataframes in pandas?",
                "ques_desc": "Consider dataframes , , and . and have an column, and has a and column. I need to iterate over all rows of , and replace and with new unique randomly generated UUIDs, and then update those in and where (before the change to UUID). I originally wanted to iterate over all rows of and simply check both and if they contain the original or inside the column before replacing both, but I found that iterating over pandas rows is a bad idea and slow. I'm not sure how I can apply the other mentioned methods in that post to this problem since I'm not applying a simple function or calculating anything, and I think the way I had intended to do it would be too slow for big dataframes. My current method that I believe to be slow and inefficient: Here and are above mentioned and , and is Example Example : Example : "
            },
            "io": [
                "+---+----+\n|   | id |\n+---+----+\n| 1 | a1 |\n+---+----+\n| 2 | c1 |\n+---+----+\n",
                "+---+----+\n|   | id |\n+---+----+\n| 1 | b1 |\n+---+----+\n"
            ],
            "answer": {
                "ans_desc": "A very simple approach: ",
                "code": [
                    "import itertools\nimport uuid\n\ndef rand_uuid():\n    return uuid.uuid4()\n\nrep_dict = {i: rand_uuid() for i in itertools.chain(df1.id, df2.id)}\n\ndf3.replace(rep_dict, inplace=True)\ndf3.id = df3.id.map(lambda x: rand_uuid())\n\ndf1.replace(rep_dict, inplace=True)\ndf2.replace(rep_dict, inplace=True)\n"
                ]
            }
        },
        "expected": [
            "replace"
        ],
        "predicted": [
            [
                "where",
                0.8666212558746338
            ],
            [
                "replace",
                0.856270432472229
            ],
            [
                "isin",
                0.8547900319099426
            ],
            [
                "loc",
                0.8534621596336365
            ],
            [
                "transform",
                0.8520407676696777
            ],
            [
                "index",
                0.8511112928390503
            ],
            [
                "any",
                0.8506150245666504
            ],
            [
                "update",
                0.850396990776062
            ],
            [
                "fillna",
                0.8482847809791565
            ],
            [
                "iteritems",
                0.8473182320594788
            ]
        ]
    },
    {
        "id": 67027649,
        "query": "how to unlist a list with one value inside a pandas columns? i have a pandas data frame: is possible to convert the data frame into another data frame that look like this? i tried with this way but only get the . thanks for your time!",
        "link": "https://stackoverflow.com/questions/67027649/how-to-unlist-a-list-with-one-value-inside-a-pandas-columns",
        "example": {
            "qid": 67027649,
            "link": "https://stackoverflow.com/questions/67027649/how-to-unlist-a-list-with-one-value-inside-a-pandas-columns",
            "question": {
                "title": "How to unlist a list with one value inside a pandas columns?",
                "ques_desc": "I have a pandas data frame: Is possible to convert the data frame into another data frame that look like this? I tried with this way but only get the . Thanks for your time! "
            },
            "io": [
                "Id       Col1\n1     ['string']\n2     ['string2']\n",
                "Id     Col1\n1     string\n2     string2\n"
            ],
            "answer": {
                "ans_desc": " I tried with this way but only get the [. Then this means they are ings, not s. You can convert them to s by ing and then : to get ",
                "code": [
                    "import ast\n\ndf.Col1 = df.Col1.apply(ast.literal_eval).explode()\n"
                ]
            }
        },
        "expected": [
            "apply",
            "explode"
        ],
        "predicted": [
            [
                "values",
                0.8779488205909729
            ],
            [
                "join",
                0.8738932013511658
            ],
            [
                "explode",
                0.8706566095352173
            ],
            [
                "stack",
                0.8683419823646545
            ],
            [
                "DataFrame",
                0.8675342798233032
            ],
            [
                "apply",
                0.8670063018798828
            ],
            [
                "columns",
                0.8664469122886658
            ],
            [
                "eval",
                0.8660154342651367
            ],
            [
                "applymap",
                0.8641992807388306
            ],
            [
                "index",
                0.8618522882461548
            ]
        ]
    },
    {
        "id": 66940820,
        "query": "python: how to pass dataframe columns as parameters to a function? i have a dataframe with 2 columns of text embeddings namely and . i want to create a third column in named which should contain the cosine_similarity between every row of and . but when i try to implement this using the following code i get a . how to fix it? dataframe code to calculate cosine similarity error required dataframe",
        "link": "https://stackoverflow.com/questions/66940820/python-how-to-pass-dataframe-columns-as-parameters-to-a-function",
        "example": {
            "qid": 66940820,
            "link": "https://stackoverflow.com/questions/66940820/python-how-to-pass-dataframe-columns-as-parameters-to-a-function",
            "question": {
                "title": "Python: How to pass Dataframe Columns as parameters to a function?",
                "ques_desc": "I have a dataframe with 2 columns of text embeddings namely and . I want to create a third column in named which should contain the cosine_similarity between every row of and . But when I try to implement this using the following code I get a . How to fix it? Dataframe Code to Calculate Cosine Similarity Error Required Dataframe "
            },
            "io": [
                "           embedding_1              |            embedding_2                                 \n [[-0.28876397, -0.6367827, ...]]   |  [[-0.49163356, -0.4877703,...]]\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.06686627, -0.75147504...]]\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.42776933, -0.88310856,...]]\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.6520882, -1.049325,...]]\n [[-0.28876397, -0.6367827, ...]]   |  [[-1.4216679, -0.8930428,...]]\n",
                "       embedding_1              |            embedding_2                 |  distances                        \n [[-0.28876397, -0.6367827, ...]]   |  [[-0.49163356, -0.4877703,...]]   |    0.427\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.06686627, -0.75147504...]]   |    0.673\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.42776933, -0.88310856,...]]  |    0.882\n [[-0.28876397, -0.6367827, ...]]   |  [[-0.6520882, -1.049325,...]]     |    0.665\n [[-0.28876397, -0.6367827, ...]]   |  [[-1.4216679, -0.8930428,...]]    |    0.312\n"
            ],
            "answer": {
                "ans_desc": "You can use to use on each row: or one liner ",
                "code": [
                    "def cal_cosine_similarity(row):\n    return cosine_similarity(row['embeddings_1'], row['embeddings_2'])\n\ndf['distances'] = df.apply(cal_cosine_similarity, axis=1)\n",
                    "df['distances'] = df.apply(lambda row: cosine_similarity(row['embeddings_1'], row['embeddings_2']), axis=1)\n"
                ]
            }
        },
        "expected": [
            "apply"
        ],
        "predicted": [
            [
                "apply",
                0.8923725485801697
            ],
            [
                "eval",
                0.8860245943069458
            ],
            [
                "applymap",
                0.883025586605072
            ],
            [
                "rename",
                0.879647970199585
            ],
            [
                "join",
                0.8780505061149597
            ],
            [
                "astype",
                0.8767362833023071
            ],
            [
                "iteritems",
                0.8723489046096802
            ],
            [
                "loc",
                0.8711830377578735
            ],
            [
                "add",
                0.8694084286689758
            ],
            [
                "columns",
                0.8686243891716003
            ]
        ]
    },
    {
        "id": 20025882,
        "query": "add a string prefix to each value in a string column using pandas i would like to append a string to the start of each value in a said column of a pandas dataframe (elegantly). i already figured out how to kind-of do this and i am currently using: this seems one hell of an inelegant thing to do - do you know any other way (which maybe also adds the character to rows where that column is 0 or nan)? in case this is yet unclear, i would like to turn: into:",
        "link": "https://stackoverflow.com/questions/20025882/add-a-string-prefix-to-each-value-in-a-string-column-using-pandas",
        "example": {
            "qid": 20025882,
            "link": "https://stackoverflow.com/questions/20025882/add-a-string-prefix-to-each-value-in-a-string-column-using-pandas",
            "question": {
                "title": "add a string prefix to each value in a string column using Pandas",
                "ques_desc": "I would like to append a string to the start of each value in a said column of a pandas dataframe (elegantly). I already figured out how to kind-of do this and I am currently using: This seems one hell of an inelegant thing to do - do you know any other way (which maybe also adds the character to rows where that column is 0 or NaN)? In case this is yet unclear, I would like to turn: into: "
            },
            "io": [
                "    col \n1     a\n2     0\n",
                "       col \n1     stra\n2     str0\n"
            ],
            "answer": {
                "ans_desc": " Example: ",
                "code": [
                    "df['col'] = 'str' + df['col'].astype(str)\n"
                ]
            }
        },
        "expected": [
            "astype"
        ],
        "predicted": [
            [
                "apply",
                0.887987494468689
            ],
            [
                "transform",
                0.884873628616333
            ],
            [
                "astype",
                0.8827208280563354
            ],
            [
                "where",
                0.8814499378204346
            ],
            [
                "values",
                0.8785062432289124
            ],
            [
                "eval",
                0.8773069381713867
            ],
            [
                "reset_index",
                0.8771543502807617
            ],
            [
                "join",
                0.8770843744277954
            ],
            [
                "index",
                0.8764394521713257
            ],
            [
                "replace",
                0.8739581108093262
            ]
        ]
    },
    {
        "id": 66567933,
        "query": "can i shift specific values in one data column to another column while keeping the other values unchanged? here is an example dataset that i have: i want to take all the values that have \"1\" in them in the column \"c2\" and shift them to replace the adjacent values in column \"c1\". so the output should look like: alternatively, i could create a new column with these values replaced. main point is, that i need all the \"1s\" in c2 to replace the nan values in c1. i can't do find all nan and replace with 1, because there are some nan values that should stay in c1. is there a way to do this? thanks for the help in advance.",
        "link": "https://stackoverflow.com/questions/66567933/can-i-shift-specific-values-in-one-data-column-to-another-column-while-keeping-t",
        "example": {
            "qid": 66567933,
            "link": "https://stackoverflow.com/questions/66567933/can-i-shift-specific-values-in-one-data-column-to-another-column-while-keeping-t",
            "question": {
                "title": "Can I shift specific values in one data column to another column while keeping the other values unchanged?",
                "ques_desc": "Here is an example dataset that I have: I want to take all the values that have \"1\" in them in the Column \"C2\" and shift them to replace the adjacent values in column \"C1\". So the output should look like: Alternatively, I could create a new column with these values replaced. Main point is, that I need all the \"1s\" in C2 TO replace the NaN values in C1. I can't do find all NaN and replace with 1, because there are some NaN values that should stay in C1. Is there a way to do this? Thanks for the help in advance. "
            },
            "io": [
                "C1      C2\n 1       1\nNaN      1\n 2       0\nNaN      0\nNaN      1\n 1       1\n 2       2\n 2       2\nNaN      1\n",
                "C1      C2\n 1       1\n 1       1\n 2       0\n NaN     0\n 1       1\n 1       1\n 2       2\n 2       2\n 1       1\n\n"
            ],
            "answer": {
                "ans_desc": "You could use the api to apply values from one column to another in rows where some condition is true (e.g. ==1). ",
                "code": [
                    "value = 1\nsource_col = 1\ntarget_col = 0\n\ncondition = df[source_col] == value\n\ndf[target_col] = df[target_col].mask(condition,\n                                     df[source_col])\n"
                ]
            }
        },
        "expected": [
            "mask"
        ],
        "predicted": [
            [
                "fillna",
                0.8677147626876831
            ],
            [
                "where",
                0.8646842837333679
            ],
            [
                "isna",
                0.8549478054046631
            ],
            [
                "isnull",
                0.8547688722610474
            ],
            [
                "replace",
                0.8543781042098999
            ],
            [
                "dropna",
                0.8527646660804749
            ],
            [
                "notna",
                0.8515973091125488
            ],
            [
                "notnull",
                0.8503559827804565
            ],
            [
                "mask",
                0.8496589660644531
            ],
            [
                "transform",
                0.8491277694702148
            ]
        ]
    },
    {
        "id": 66496528,

In [13]:
# print("""
#                    No Negative Samples
# |=======================================================|
# |                         Top  1                        |
# |-------------------------------------------------------|
# | #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
# |-------------------------------------------------------|
# | 1	| 111		| 13	| 13	| 13	| 13	|
# | 2	| 111		| 0	| 23	| 23	| 23	|
# | 3	| 110		| 0	| 0	| 28	| 28	|
# | 4	| 81		| 0	| 0	| 0	| 18	|
# | 5	| 66		| 0	| 0	| 0	| 0	|
# | 6	| 52		| 0	| 0	| 0	| 0	|
# | 7	| 19		| 0	| 0	| 0	| 0	|
# | 8	| 14		| 0	| 0	| 0	| 0	|
# |=======================================================|
# | total	| 564		| 13	| 36	| 64	| 82	|
# |=======================================================|

# |=======================================================|
# |                         Top  2                        |
# |-------------------------------------------------------|
# | #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
# |-------------------------------------------------------|
# | 1	| 111		| 23	| 23	| 23	| 23	|
# | 2	| 111		| 2	| 33	| 33	| 33	|
# | 3	| 110		| 0	| 4	| 38	| 38	|
# | 4	| 81		| 0	| 4	| 4	| 30	|
# | 5	| 66		| 0	| 0	| 4	| 4	|
# | 6	| 52		| 0	| 0	| 2	| 2	|
# | 7	| 19		| 0	| 0	| 0	| 1	|
# | 8	| 14		| 0	| 0	| 0	| 0	|
# |=======================================================|
# | total	| 564		| 25	| 64	| 104	| 131	|
# |=======================================================|

# |=======================================================|
# |                         Top  5                        |
# |-------------------------------------------------------|
# | #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
# |-------------------------------------------------------|
# | 1	| 111		| 31	| 31	| 31	| 31	|
# | 2	| 111		| 6	| 53	| 53	| 53	|
# | 3	| 110		| 0	| 13	| 57	| 57	|
# | 4	| 81		| 0	| 11	| 11	| 44	|
# | 5	| 66		| 0	| 0	| 12	| 12	|
# | 6	| 52		| 0	| 1	| 7	| 7	|
# | 7	| 19		| 0	| 0	| 0	| 4	|
# | 8	| 14		| 0	| 0	| 3	| 6	|
# |=======================================================|
# | total	| 564		| 37	| 109	| 174	| 214	|
# |=======================================================|

# |=======================================================|
# |                         Top 10                        |
# |-------------------------------------------------------|
# | #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
# |-------------------------------------------------------|
# | 1	| 111		| 43	| 43	| 43	| 43	|
# | 2	| 111		| 16	| 64	| 64	| 64	|
# | 3	| 110		| 3	| 24	| 70	| 70	|
# | 4	| 81		| 1	| 25	| 25	| 62	|
# | 5	| 66		| 0	| 6	| 21	| 21	|
# | 6	| 52		| 0	| 3	| 16	| 16	|
# | 7	| 19		| 0	| 0	| 2	| 6	|
# | 8	| 14		| 0	| 3	| 4	| 8	|
# |=======================================================|
# | total	| 564		| 63	| 168	| 245	| 290	|
# |=======================================================|
# """)

In [14]:
show_performance(1);

|=======================================================|
|                         Top  1                        |
|-------------------------------------------------------|
| #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
|-------------------------------------------------------|
| 1	| 127		| 20	| 20	| 20	| 20	|
| 2	| 143		| 0	| 45	| 45	| 45	|
| 3	| 108		| 0	| 0	| 34	| 34	|
| 4	| 74		| 0	| 0	| 0	| 25	|
| 5	| 64		| 0	| 0	| 0	| 0	|
| 6	| 25		| 0	| 0	| 0	| 0	|
| 7	| 20		| 0	| 0	| 0	| 0	|
| 8	| 23		| 0	| 0	| 0	| 0	|
|=======================================================|
| total	| 584		| 20	| 65	| 99	| 124	|
|=======================================================|

In [15]:
show_performance(2);

|=======================================================|
|                         Top  2                        |
|-------------------------------------------------------|
| #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
|-------------------------------------------------------|
| 1	| 127		| 32	| 32	| 32	| 32	|
| 2	| 143		| 7	| 65	| 65	| 65	|
| 3	| 108		| 0	| 4	| 48	| 48	|
| 4	| 74		| 0	| 4	| 4	| 34	|
| 5	| 64		| 0	| 0	| 5	| 5	|
| 6	| 25		| 0	| 0	| 2	| 2	|
| 7	| 20		| 0	| 0	| 0	| 1	|
| 8	| 23		| 0	| 0	| 0	| 2	|
|=======================================================|
| total	| 584		| 39	| 105	| 156	| 189	|
|=======================================================|

In [16]:
show_performance(5);

|=======================================================|
|                         Top  5                        |
|-------------------------------------------------------|
| #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
|-------------------------------------------------------|
| 1	| 127		| 49	| 49	| 49	| 49	|
| 2	| 143		| 21	| 96	| 96	| 96	|
| 3	| 108		| 1	| 13	| 75	| 75	|
| 4	| 74		| 0	| 20	| 20	| 51	|
| 5	| 64		| 0	| 3	| 21	| 21	|
| 6	| 25		| 0	| 1	| 7	| 7	|
| 7	| 20		| 0	| 0	| 3	| 7	|
| 8	| 23		| 0	| 0	| 3	| 8	|
|=======================================================|
| total	| 584		| 71	| 182	| 274	| 314	|
|=======================================================|

In [17]:
result, count_to_p = show_performance(10);

|=======================================================|
|                         Top 10                        |
|-------------------------------------------------------|
| #APIs	| #Examples	| Full	| Half	| 1/3	| 1/4	|
|-------------------------------------------------------|
| 1	| 127		| 68	| 68	| 68	| 68	|
| 2	| 143		| 40	| 114	| 114	| 114	|
| 3	| 108		| 3	| 36	| 93	| 93	|
| 4	| 74		| 1	| 33	| 33	| 64	|
| 5	| 64		| 1	| 8	| 35	| 35	|
| 6	| 25		| 0	| 4	| 12	| 12	|
| 7	| 20		| 0	| 2	| 4	| 14	|
| 8	| 23		| 0	| 1	| 7	| 16	|
|=======================================================|
| total	| 584		| 113	| 266	| 366	| 416	|
|=======================================================|